In [1]:
import duckdb
import pandas as pd

# Connect to your database
conn = duckdb.connect('cricket_analytics.db')

# Function to explore table structure and data
def explore_table(table_name):
    print(f"\n--- Table: {table_name} ---")
    
    # Get column names and data types
    schema_info = conn.execute(f"DESCRIBE {table_name}").fetchall()
    print("\nSchema:")
    for column in schema_info:
        print(f"  {column[0]} - {column[1]}")
    
    # Get row count
    count = conn.execute(f"SELECT COUNT(*) FROM {table_name}").fetchone()[0]
    print(f"\nRow count: {count}")
    
    # Get sample data
    print("\nSample data (top 20 rows):")
    sample = conn.execute(f"SELECT * FROM {table_name} LIMIT 20").fetchdf()
    return sample

# List all tables
tables = conn.execute("SHOW TABLES").fetchall()
table_names = [table[0] for table in tables]
print(f"Tables in database: {table_names}")

# Explore each table
for table_name in table_names:
    sample_df = explore_table(table_name)
    display(sample_df)

Tables in database: ['deliveries', 'innings', 'matches', 'overs', 'players']

--- Table: deliveries ---

Schema:
  delivery_id - VARCHAR
  over_id - VARCHAR
  innings_id - VARCHAR
  match_id - VARCHAR
  over_number - BIGINT
  ball_number - BIGINT
  batter - VARCHAR
  batter_id - VARCHAR
  bowler - VARCHAR
  bowler_id - VARCHAR
  non_striker - VARCHAR
  non_striker_id - VARCHAR
  batter_runs - BIGINT
  extras - BIGINT
  total_runs - BIGINT
  extras_type - VARCHAR
  extras_value - BIGINT
  is_wicket - BIGINT
  wicket_player_out - VARCHAR
  wicket_player_out_id - VARCHAR
  wicket_kind - VARCHAR
  wicket_fielder - VARCHAR
  wicket_fielder_id - VARCHAR

Row count: 9663876

Sample data (top 20 rows):

,delivery_id,over_id,innings_id,match_id,over_number,ball_number,batter,batter_id,bowler,bowler_id,...,extras,total_runs,extras_type,extras_value,is_wicket,wicket_player_out,wicket_player_out_id,wicket_kind,wicket_fielder,wicket_fielder_id
0,1000851_1_0_1,1000851_1_0,1000851_1,1000851,0,1,SC Cook,13bee186,MA Starc,3fb19989,...,0,0,None,0,0,None,None,None,None,None
1,1000851_1_0_2,1000851_1_0,1000851_1,1000851,0,2,SC Cook,13bee186,MA Starc,3fb19989,...,0,0,None,0,0,None,None,None,None,None
2,1000851_1_0_3,1000851_1_0,1000851_1,1000851,0,3,SC Cook,13bee186,MA Starc,3fb19989,...,0,0,None,0,0,None,None,None,None,None
3,1000851_1_0_4,1000851_1_0,1000851_1,1000851,0,4,SC Cook,13bee186,MA Starc,3fb19989,...,0,0,None,0,1,SC Cook,13bee186,caught,MR Marsh,3d8feaf8
4,1000851_1_0_5,1000851_1_0,1000851_1,1000851,0,5,HM Amla,e798611a,MA Starc,3fb19989,...,0,0,None,0,0,None,None,None,None,None
5,1000851_1_0_6,1000851_1_0,1000851_1,1000851,0,6,HM Amla,e798611a,MA Starc,3fb19989,...,0,0,None,0,0,None,None,None,None,None
6,1000851_1_1_1,1000851_1_1,1000851_1,1000851,1,1,D Elgar,33085ffb,JR Hazlewood,03806cf8,...,0,0,None,0,0,None,None,None,None,None
7,1000851_1_1_2,1000851_1_1,1000851_1,1000851,1,2,D Elgar,33085ffb,JR Hazlewood,03806cf8,...,0,0,None,0,0,None,None,None,None,None
8,1000851_1_1_3,1000851_1_1,1000851_1,1000851,1,3,D Elgar,33085ffb,JR Hazlewood,03806cf8,...,0,0,None,0,0,None,None,None,None,None
9,1000851_1_1_4,1000851_1_1,1000851_1,1000851,1,4,D Elgar,33085ffb,JR Hazlewood,03806cf8,...,0,1,None,0,0,None,None,None,None,None
10,1000851_1_1_5,1000851_1_1,1000851_1,1000851,1,5,HM Amla,e798611a,JR Hazlewood,03806cf8,...,0,0,None,0,0,None,None,None,None,None
11,1000851_1_1_6,1000851_1_1,1000851_1,1000851,1,6,HM Amla,e798611a,JR Hazlewood,03806cf8,...,0,0,None,0,0,None,None,None,None,None
12,1000851_1_2_1,1000851_1_2,1000851_1,1000851,2,1,D Elgar,33085ffb,MA Starc,3fb19989,...,0,0,None,0,0,None,None,None,None,None
13,1000851_1_2_2,1000851_1_2,1000851_1,1000851,2,2,D Elgar,33085ffb,MA Starc,3fb19989,...,0,0,None,0,0,None,None,None,None,None
14,1000851_1_2_3,1000851_1_2,1000851_1,1000851,2,3,D Elgar,33085ffb,MA Starc,3fb19989,...,0,0,None,0,0,None,None,None,None,None
15,1000851_1_2_4,1000851_1_2,1000851_1,1000851,2,4,D Elgar,33085ffb,MA Starc,3fb19989,...,0,0,None,0,0,None,None,None,None,None
16,1000851_1_2_5,1000851_1_2,1000851_1,1000851,2,5,D Elgar,33085ffb,MA Starc,3fb19989,...,0,4,None,0,0,None,None,None,None,None
17,1000851_1_2_6,1000851_1_2,1000851_1,1000851,2,6,D Elgar,33085ffb,MA Starc,3fb19989,...,0,0,None,0,0,None,None,None,None,None
18,1000851_1_3_1,1000851_1_3,1000851_1,1000851,3,1,HM Amla,e798611a,JR Hazlewood,03806cf8,...,0,0,None,0,1,HM Amla,e798611a,caught,SPD Smith,30a45b23
19,1000851_1_3_2,1000851_1_3,1000851_1,1000851,3,2,JP Duminy,2e8994e7,JR Hazlewood,03806cf8,...,0,0,None,0,0,None,None,None,None,None

--- Table: innings ---

Schema:
  innings_id - VARCHAR
  match_id - VARCHAR
  innings_number - BIGINT
  batting_team - VARCHAR
  powerplay_start_over - DOUBLE
  powerplay_end_over - DOUBLE
  bowling_team - VARCHAR

Row count: 41435

Sample data (top 20 rows):

,innings_id,match_id,innings_number,batting_team,powerplay_start_over,powerplay_end_over,bowling_team
0,1000851_1,1000851,1,South Africa,NaN,NaN,Australia
1,1000851_2,1000851,2,Australia,NaN,NaN,South Africa
2,1000851_3,1000851,3,South Africa,NaN,NaN,Australia
3,1000851_4,1000851,4,Australia,NaN,NaN,South Africa
4,1000853_1,1000853,1,Australia,NaN,NaN,South Africa
5,1000853_2,1000853,2,South Africa,NaN,NaN,Australia
6,1000853_3,1000853,3,Australia,NaN,NaN,South Africa
7,1000855_1,1000855,1,South Africa,NaN,NaN,Australia
8,1000855_2,1000855,2,Australia,NaN,NaN,South Africa
9,1000855_3,1000855,3,South Africa,NaN,NaN,Australia
10,1000855_4,1000855,4,Australia,NaN,NaN,South Africa
11,1000881_1,1000881,1,Australia,NaN,NaN,Pakistan
12,1000881_2,1000881,2,Pakistan,NaN,NaN,Australia
13,1000881_3,1000881,3,Australia,NaN,NaN,Pakistan
14,1000881_4,1000881,4,Pakistan,NaN,NaN,Australia
15,1000883_1,1000883,1,Pakistan,NaN,NaN,Australia
16,1000883_2,1000883,2,Australia,NaN,NaN,Pakistan
17,1000883_3,1000883,3,Pakistan,NaN,NaN,Australia
18,1000885_1,1000885,1,Australia,NaN,NaN,Pakistan
19,1000885_2,1000885,2,Pakistan,NaN,NaN,Australia

--- Table: matches ---

Schema:
  match_id - VARCHAR
  date - DATE
  city - VARCHAR
  venue - VARCHAR
  match_type - VARCHAR
  gender - VARCHAR
  season - VARCHAR
  match_event_name - VARCHAR
  match_event_id - VARCHAR
  match_number - DOUBLE
  overs - DOUBLE
  team1 - VARCHAR
  team2 - VARCHAR
  toss_winner - VARCHAR
  toss_decision - VARCHAR
  outcome_winner - VARCHAR
  outcome_by_runs - DOUBLE
  outcome_by_wickets - DOUBLE
  outcome_method - VARCHAR
  player_of_match - VARCHAR
  player_of_match_id - VARCHAR

Row count: 18646

Sample data (top 20 rows):

,match_id,date,city,venue,match_type,gender,season,match_event_name,match_event_id,match_number,...,team1,team2,toss_winner,toss_decision,outcome_winner,outcome_by_runs,outcome_by_wickets,outcome_method,player_of_match,player_of_match_id
0,1000851,2016-11-03,Perth,Western Australia Cricket Association Ground,Test,male,2016/17,South Africa in Australia Test Series,None,1.0,...,Australia,South Africa,South Africa,bat,South Africa,177.0,NaN,None,K Rabada,e62dd25d
1,1000853,2016-11-12,Hobart,Bellerive Oval,Test,male,2016/17,South Africa in Australia Test Series,None,2.0,...,Australia,South Africa,South Africa,field,South Africa,80.0,NaN,None,KJ Abbott,a9da7784
2,1000855,2016-11-24,None,Adelaide Oval,Test,male,2016/17,South Africa in Australia Test Series,None,3.0,...,Australia,South Africa,South Africa,bat,Australia,NaN,7.0,None,UT Khawaja,331ea488
3,1000881,2016-12-15,Brisbane,"Brisbane Cricket Ground, Woolloongabba",Test,male,2016/17,Pakistan in Australia Test Series,None,1.0,...,Australia,Pakistan,Australia,bat,Australia,39.0,NaN,None,Asad Shafiq,50250426
4,1000883,2016-12-26,None,Melbourne Cricket Ground,Test,male,2016/17,Pakistan in Australia Test Series,None,2.0,...,Australia,Pakistan,Pakistan,bat,Australia,18.0,NaN,None,SPD Smith,30a45b23
5,1000885,2017-01-03,None,Sydney Cricket Ground,Test,male,2016/17,Pakistan in Australia Test Series,None,3.0,...,Australia,Pakistan,Australia,bat,Australia,220.0,NaN,None,DA Warner,dcce6f09
6,1000887,2017-01-13,Brisbane,"Brisbane Cricket Ground, Woolloongabba",ODI,male,2016/17,Pakistan in Australia ODI Series,None,1.0,...,Australia,Pakistan,Australia,bat,Australia,92.0,NaN,None,MS Wade,afa7e784
7,1000889,2017-01-15,None,Melbourne Cricket Ground,ODI,male,2016/17,Pakistan in Australia ODI Series,None,2.0,...,Australia,Pakistan,Australia,bat,Pakistan,NaN,6.0,None,Mohammad Hafeez,9ab63e7b
8,1000891,2017-01-19,Perth,Western Australia Cricket Association Ground,ODI,male,2016/17,Pakistan in Australia ODI Series,None,3.0,...,Australia,Pakistan,Australia,field,Australia,NaN,7.0,None,SPD Smith,30a45b23
9,1000893,2017-01-22,None,Sydney Cricket Ground,ODI,male,2016/17,Pakistan in Australia ODI Series,None,4.0,...,Australia,Pakistan,Australia,bat,Australia,86.0,NaN,None,DA Warner,dcce6f09
10,1000895,2017-01-26,None,Adelaide Oval,ODI,male,2016/17,Pakistan in Australia ODI Series,None,5.0,...,Australia,Pakistan,Australia,bat,Australia,57.0,NaN,None,DA Warner,dcce6f09
11,1001349,2017-02-17,None,Melbourne Cricket Ground,T20,male,2016/17,Sri Lanka in Australia T20I Series,None,1.0,...,Australia,Sri Lanka,Sri Lanka,field,Sri Lanka,NaN,5.0,None,DAS Gunaratne,770494eb
12,1001351,2017-02-19,Victoria,"Simonds Stadium, South Geelong",T20,male,2016/17,Sri Lanka in Australia T20I Series,None,2.0,...,Australia,Sri Lanka,Sri Lanka,field,Sri Lanka,NaN,2.0,None,DAS Gunaratne,770494eb
13,1001353,2017-02-22,None,Adelaide Oval,T20,male,2016/17,Sri Lanka in Australia T20I Series,None,3.0,...,Australia,Sri Lanka,Sri Lanka,field,Australia,41.0,NaN,None,A Zampa,14f96089
14,1001371,2016-12-04,None,Sydney Cricket Ground,ODI,male,2016/17,Chappell-Hadlee Trophy,None,1.0,...,Australia,New Zealand,Australia,bat,Australia,68.0,NaN,None,SPD Smith,30a45b23
15,1001373,2016-12-06,Canberra,Manuka Oval,ODI,male,2016/17,Chappell-Hadlee Trophy,None,2.0,...,Australia,New Zealand,New Zealand,field,Australia,116.0,NaN,None,DA Warner,dcce6f09
16,1001375,2016-12-09,None,Melbourne Cricket Ground,ODI,male,2016/17,Chappell-Hadlee Trophy,None,3.0,...,Australia,New Zealand,Australia,bat,Australia,117.0,NaN,None,DA Warner,dcce6f09
17,1002143,2016-05-02,Belfast,"Civil Service Cricket Club, Stormont, Belfast",ODM,male,2016,Cricket Ireland Inter-Provincial Limited Over Cup,None,1.0,...,Northern Knights,Leinster Lightning,Northern Knights,bat,Leinster Lightning,NaN,6.0,None,None,None
18,1002145,2016-05-30,Strabane,New Strabane Park,ODM,male,2016,Cricket Ireland Inter-Provincial Limited Over Cup,None,2.0,...,Leinster Lightning,North-West Warriors,Leinster Lightning,bat,Leinster Lightning,141.0,NaN,None,None,None
19,1002147,2016-06-12,Dublin,"The Vineyard, Dublin",ODM,male,2016,Cricket Ireland Inter-Provincial Limited Over Cup,None,3.0,...,North-West Warriors,Leinster Lightning,Leinster Lightning,field,None,NaN,NaN,None,None,None

--- Table: overs ---

Schema:
  over_id - VARCHAR
  innings_id - VARCHAR
  over_number - BIGINT
  total_runs - BIGINT
  wickets - BIGINT
  num_deliveries - BIGINT
  total_extras - BIGINT
  extras_wides - BIGINT
  extras_noballs - BIGINT
  extras_byes - BIGINT
  extras_legbyes - BIGINT

Row count: 1587241

Sample data (top 20 rows):

,over_id,innings_id,over_number,total_runs,wickets,num_deliveries,total_extras,extras_wides,extras_noballs,extras_byes,extras_legbyes
0,1000851_1_0,1000851_1,0,0,1,6,0,0,0,0,0
1,1000851_1_1,1000851_1,1,1,0,6,0,0,0,0,0
2,1000851_1_2,1000851_1,2,4,0,6,0,0,0,0,0
3,1000851_1_3,1000851_1,3,7,1,6,0,0,0,0,0
4,1000851_1_4,1000851_1,4,5,0,6,0,0,0,0,0
5,1000851_1_5,1000851_1,5,0,0,6,0,0,0,0,0
6,1000851_1_6,1000851_1,6,1,0,6,0,0,0,0,0
7,1000851_1_7,1000851_1,7,2,1,6,0,0,0,0,0
8,1000851_1_8,1000851_1,8,4,0,6,0,0,0,0,0
9,1000851_1_9,1000851_1,9,3,0,6,0,0,0,0,0
10,1000851_1_10,1000851_1,10,1,0,6,0,0,0,0,0
11,1000851_1_11,1000851_1,11,4,0,6,0,0,0,0,0
12,1000851_1_12,1000851_1,12,0,1,6,0,0,0,0,0
13,1000851_1_13,1000851_1,13,0,0,6,0,0,0,0,0
14,1000851_1_14,1000851_1,14,6,0,6,0,0,0,0,0
15,1000851_1_15,1000851_1,15,5,0,6,0,0,0,0,0
16,1000851_1_16,1000851_1,16,5,0,6,0,0,0,0,0
17,1000851_1_17,1000851_1,17,3,0,6,0,0,0,0,0
18,1000851_1_18,1000851_1,18,6,0,7,1,1,0,0,0
19,1000851_1_19,1000851_1,19,0,0,6,0,0,0,0,0

--- Table: players ---

Schema:
  player_id - VARCHAR
  player_name - VARCHAR

Row count: 12975

Sample data (top 20 rows):

   player_id       player_name
0   864c199e          AC Voges
1   685d3f80        AJ Pycroft
2   f02778d1         Aleem Dar
3   33085ffb           D Elgar
4   dcce6f09         DA Warner
5   8fd1a8f5          DW Steyn
6   3355b542      F du Plessis
7   e798611a           HM Amla
8   2e8994e7         JP Duminy
9   03806cf8      JR Hazlewood
10  e62dd25d          K Rabada
11  0b60eb09        KA Maharaj
12  3fb19989          MA Starc
13  3d8feaf8          MR Marsh
14  573fb985          NJ Llong
15  96a6a7ad           NM Lyon
16  a22fb7b5         PM Nevill
17  bd93fea4         PM Siddle
18  372455c4         Q de Kock
19  4017868f  RA Kettleborough

In [2]:
from tabulate import tabulate

def analyze_column_ranges():
    """Analyze min and max values for columns to be converted"""
    
    # Define the columns to analyze (excluding 'season')
    columns_to_analyze = {
        'deliveries': [
            'over_number', 'ball_number', 'batter_runs', 
            'extras', 'total_runs', 'extras_value', 'is_wicket'
        ],
        'innings': ['innings_number'],
        'matches': [
            'date', 'overs', 'outcome_by_runs', 'outcome_by_wickets'
        ],
        'overs': [
            'over_number', 'total_runs', 'wickets', 'num_deliveries'
        ]
    }
    
    # Results container
    results = []
    
    # For each table and its columns
    for table, columns in columns_to_analyze.items():
        for col in columns:
            try:
                # Query min and max values
                query = f"""
                SELECT 
                    MIN({col}) as min_value,
                    MAX({col}) as max_value
                FROM {table}
                """
                
                result = conn.execute(query).fetchone()
                min_val, max_val = result
                
                results.append({
                    'Table': table,
                    'Column': col,
                    'Min Value': min_val,
                    'Max Value': max_val
                })
            except Exception as e:
                # Handle any errors (like invalid column names)
                results.append({
                    'Table': table,
                    'Column': col,
                    'Min Value': f"Error: {str(e)}",
                    'Max Value': f"Error: {str(e)}"
                })
    
    # Convert to DataFrame for display
    return pd.DataFrame(results)

# Get the min/max values
range_analysis = analyze_column_ranges()

# Print the results as a nice table
print("\n=== Column Range Analysis ===\n")
print(tabulate(range_analysis, headers='keys', tablefmt='grid'))

=== Column Range Analysis ===

+----+------------+--------------------+-------------+-------------+
|    | Table      | Column             | Min Value   | Max Value   |
+====+============+====================+=============+=============+
|  0 | deliveries | over_number        | 0           | 248         |
+----+------------+--------------------+-------------+-------------+
|  1 | deliveries | ball_number        | 1           | 19          |
+----+------------+--------------------+-------------+-------------+
|  2 | deliveries | batter_runs        | 0           | 8           |
+----+------------+--------------------+-------------+-------------+
|  3 | deliveries | extras             | 0           | 12          |
+----+------------+--------------------+-------------+-------------+
|  4 | deliveries | total_runs         | 0           | 13          |
+----+------------+--------------------+-------------+-------------+
|  5 | deliveries | extras_value       | 0           | 12          |
+----+------------+--------------------+-------------+-------------+
|  6 | deliveries | is_wicket          | 0           | 1           |
+----+------------+--------------------+-------------+-------------+
|  7 | innings    | innings_number     | 1           | 6           |
+----+------------+--------------------+-------------+-------------+
|  8 | matches    | date               | 2001-12-19  | 2025-04-17  |
+----+------------+--------------------+-------------+-------------+
|  9 | matches    | overs              | 20.0        | 50.0        |
+----+------------+--------------------+-------------+-------------+
| 10 | matches    | outcome_by_runs    | 1.0         | 504.0       |
+----+------------+--------------------+-------------+-------------+
| 11 | matches    | outcome_by_wickets | 1.0         | 10.0        |
+----+------------+--------------------+-------------+-------------+
| 12 | overs      | over_number        | 0           | 248         |
+----+------------+--------------------+-------------+-------------+
| 13 | overs      | total_runs         | 0           | 43          |
+----+------------+--------------------+-------------+-------------+
| 14 | overs      | wickets            | 0           | 5           |
+----+------------+--------------------+-------------+-------------+
| 15 | overs      | num_deliveries     | 1           | 19          |
+----+------------+--------------------+-------------+-------------+

In [3]:
def get_current_schema(connection):
    """Get the current schema for all tables in the database"""
    tables = connection.execute("SELECT table_name FROM information_schema.tables WHERE table_schema='main'").fetchall()
    tables = [table[0] for table in tables]
    
    schema_info = []
    
    for table_name in tables:
        columns = connection.execute(f"PRAGMA table_info('{table_name}')").fetchall()
        for col in columns:
            schema_info.append({
                'Table': table_name,
                'Column': col[1],
                'CurrentType': col[2]
            })
    
    return pd.DataFrame(schema_info)

def apply_type_conversions(connection):
    """Apply the recommended data type conversions based on actual value ranges"""
    
    # Store the current schema
    current_schema = get_current_schema(connection)
    
    # Define the type conversion mapping for each table and column
    # Updated based on the actual value ranges from your analysis
    type_conversions = {
        'deliveries': {
            'over_number': 'SMALLINT',    # Max 248, needs SMALLINT instead of TINYINT
            'ball_number': 'TINYINT',     # Max 19, TINYINT works
            'batter_runs': 'TINYINT',     # Max 8, TINYINT works
            'extras': 'TINYINT',          # Max 12, TINYINT works
            'total_runs': 'TINYINT',      # Max 13, TINYINT works
            'extras_value': 'TINYINT',    # Max 12, TINYINT works
            'is_wicket': 'BOOLEAN'        # Binary values, BOOLEAN works
        },
        'innings': {
            'innings_number': 'TINYINT'   # Max 6, TINYINT works
        },
        'matches': {
            'date': 'DATE',               # Date format, DATE type appropriate
            'overs': 'DECIMAL(4,1)',      # Values 20.0-50.0, DECIMAL works well
            'outcome_by_runs': 'SMALLINT', # Max 504, needs SMALLINT
            'outcome_by_wickets': 'TINYINT' # Max 10, TINYINT works
        },
        'overs': {
            'over_number': 'SMALLINT',    # Max 248, needs SMALLINT
            'total_runs': 'TINYINT',      # Max 43, TINYINT works
            'wickets': 'TINYINT',         # Max 5, TINYINT works
            'num_deliveries': 'TINYINT'   # Max 19, TINYINT works
        }
    }
    
    # Apply the conversions
    print("Converting data types...")
    
    # For each table
    for table, columns in type_conversions.items():
        # Get the current columns from the table
        table_columns = connection.execute(f"PRAGMA table_info('{table}')").fetchall()
        column_names = [col[1] for col in table_columns]
        
        # Create a temporary table with the new schema
        temp_table = f"{table}_temp"
        create_temp_sql = f"CREATE TABLE {temp_table} AS SELECT "
        
        # Build the column list with type casts
        column_clauses = []
        for col in column_names:
            if col in columns:
                # Convert this column's type
                column_clauses.append(f"CAST({col} AS {columns[col]}) AS {col}")
            else:
                # Keep this column's type
                column_clauses.append(col)
        
        create_temp_sql += ", ".join(column_clauses)
        create_temp_sql += f" FROM {table}"
        
        # Execute the conversion
        connection.execute(create_temp_sql)
        
        # Drop the original table and rename the temp table
        connection.execute(f"DROP TABLE {table}")
        connection.execute(f"ALTER TABLE {temp_table} RENAME TO {table}")
        
        print(f"Converted table: {table}")
    
    # Get the new schema
    new_schema = get_current_schema(connection)
    
    # Merge the dataframes to show before and after
    schema_comparison = current_schema.merge(
        new_schema, 
        on=['Table', 'Column'], 
        suffixes=('_Before', '_After')
    )
    
    # Add a "Changed" column
    schema_comparison['Changed'] = schema_comparison['CurrentType_Before'] != schema_comparison['CurrentType_After']
    
    return schema_comparison

def print_type_conversion_report(schema_comparison, connection):
    """Print a nicely formatted report of the type conversions"""
    
    # Group by table
    for table_name in schema_comparison['Table'].unique():
        table_data = schema_comparison[schema_comparison['Table'] == table_name]
        
        print(f"\n=== Table: {table_name} ===\n")
        
        # Format the data for table display
        display_data = []
        for _, row in table_data.iterrows():
            # Get column min and max values if the column was changed
            min_val = max_val = "N/A"
            if row['Changed']:
                try:
                    min_max = connection.execute(f"SELECT MIN({row['Column']}), MAX({row['Column']}) FROM {table_name}").fetchone()
                    min_val = str(min_max[0]) if min_max[0] is not None else "NULL"
                    max_val = str(min_max[1]) if min_max[1] is not None else "NULL"
                except:
                    pass  # Skip if error occurs
            
            display_data.append([
                row['Column'],
                row['CurrentType_Before'],
                row['CurrentType_After'],
                min_val,
                max_val,
                "✓" if row['Changed'] else ""
            ])
        
        # Print the table
        print(tabulate(
            display_data,
            headers=["Column", "Before", "After", "Min Value", "Max Value", "Changed"],
            tablefmt="grid"
        ))
    
    # Summary
    changed_count = schema_comparison[schema_comparison['Changed']].shape[0]
    total_count = schema_comparison.shape[0]
    
    print(f"\n=== Summary ===\n")
    print(f"Total columns: {total_count}")
    print(f"Columns with type changes: {changed_count} ({changed_count/total_count*100:.1f}%)")
    
    # Group changes by type
    type_changes = schema_comparison[schema_comparison['Changed']].groupby(['CurrentType_Before', 'CurrentType_After']).size().reset_index(name='Count')
    
    print("\nType conversion breakdown:")
    for _, row in type_changes.iterrows():
        print(f"  {row['CurrentType_Before']} → {row['CurrentType_After']}: {row['Count']} columns")
    
    # Estimate storage savings
    before_sizes = {
        'VARCHAR': 16,  # Average estimate
        'BIGINT': 8,
        'DOUBLE': 8,
        'TINYINT': 1,
        'SMALLINT': 2, 
        'BOOLEAN': 1,
        'DATE': 4,
        'DECIMAL(4,1)': 4
    }
    
    after_sizes = {
        'VARCHAR': 16,  # Average estimate
        'BIGINT': 8,
        'DOUBLE': 8,
        'TINYINT': 1,
        'SMALLINT': 2, 
        'BOOLEAN': 1,
        'DATE': 4,
        'DECIMAL(4,1)': 4
    }
    
    # Calculate before and after sizes
    schema_comparison['SizeBefore'] = schema_comparison['CurrentType_Before'].map(
        lambda x: before_sizes.get(x, 8)  # Default to 8 bytes if unknown
    )
    
    schema_comparison['SizeAfter'] = schema_comparison['CurrentType_After'].map(
        lambda x: after_sizes.get(x, 8)  # Default to 8 bytes if unknown
    )
    
    # Get row counts for each table
    row_counts = {}
    for table in schema_comparison['Table'].unique():
        row_counts[table] = connection.execute(f"SELECT COUNT(*) FROM {table}").fetchone()[0]
    
    # Add table row counts to the dataframe
    schema_comparison['RowCount'] = schema_comparison['Table'].map(row_counts)
    
    # Calculate storage impact
    schema_comparison['StorageBefore'] = schema_comparison['SizeBefore'] * schema_comparison['RowCount']
    schema_comparison['StorageAfter'] = schema_comparison['SizeAfter'] * schema_comparison['RowCount']
    
    total_before = schema_comparison['StorageBefore'].sum()
    total_after = schema_comparison['StorageAfter'].sum()
    savings = total_before - total_after
    savings_pct = (savings / total_before) * 100
    
    print(f"\nEstimated storage impact:")
    print(f"  Before: {total_before/1024/1024:.2f} MB")
    print(f"  After: {total_after/1024/1024:.2f} MB")
    print(f"  Savings: {savings/1024/1024:.2f} MB ({savings_pct:.1f}%)")
    
    # Print per-table statistics
    print("\nPer-table storage impact:")
    table_stats = schema_comparison.groupby('Table').agg({
        'RowCount': 'first',
        'StorageBefore': 'sum',
        'StorageAfter': 'sum'
    }).reset_index()
    
    table_stats['Savings'] = table_stats['StorageBefore'] - table_stats['StorageAfter']
    table_stats['SavingsPct'] = (table_stats['Savings'] / table_stats['StorageBefore']) * 100
    
    table_display = []
    for _, row in table_stats.iterrows():
        table_display.append([
            row['Table'],
            f"{row['RowCount']:,}",
            f"{row['StorageBefore']/1024/1024:.2f} MB",
            f"{row['StorageAfter']/1024/1024:.2f} MB",
            f"{row['Savings']/1024/1024:.2f} MB",
            f"{row['SavingsPct']:.1f}%"
        ])
    
    print(tabulate(
        table_display,
        headers=["Table", "Rows", "Before", "After", "Savings", "Savings %"],
        tablefmt="grid"
    ))

# Run the conversion
schema_comparison = apply_type_conversions(conn)

# Print the report
print_type_conversion_report(schema_comparison, conn)

Converting data types...

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Converted table: deliveries
Converted table: innings
Converted table: matches
Converted table: overs

=== Table: deliveries ===

+----------------------+----------+----------+-------------+-------------+-----------+
| Column               | Before   | After    | Min Value   | Max Value   | Changed   |
+======================+==========+==========+=============+=============+===========+
| delivery_id          | VARCHAR  | VARCHAR  | N/A         | N/A         |           |
+----------------------+----------+----------+-------------+-------------+-----------+
| over_id              | VARCHAR  | VARCHAR  | N/A         | N/A         |           |
+----------------------+----------+----------+-------------+-------------+-----------+
| innings_id           | VARCHAR  | VARCHAR  | N/A         | N/A         |           |
+----------------------+----------+----------+-------------+-------------+-----------+
| match_id             | VARCHAR  | VARCHAR  | N/A         | N/A         |           |
+----------------------+----------+----------+-------------+-------------+-----------+
| over_number          | BIGINT   | SMALLINT | 0           | 248         | ✓         |
+----------------------+----------+----------+-------------+-------------+-----------+
| ball_number          | BIGINT   | TINYINT  | 1           | 19          | ✓         |
+----------------------+----------+----------+-------------+-------------+-----------+
| batter               | VARCHAR  | VARCHAR  | N/A         | N/A         |           |
+----------------------+----------+----------+-------------+-------------+-----------+
| batter_id            | VARCHAR  | VARCHAR  | N/A         | N/A         |           |
+----------------------+----------+----------+-------------+-------------+-----------+
| bowler               | VARCHAR  | VARCHAR  | N/A         | N/A         |           |
+----------------------+----------+----------+-------------+-------------+-----------+
| bowler_id            | VARCHAR  | VARCHAR  | N/A         | N/A         |           |
+----------------------+----------+----------+-------------+-------------+-----------+
| non_striker          | VARCHAR  | VARCHAR  | N/A         | N/A         |           |
+----------------------+----------+----------+-------------+-------------+-----------+
| non_striker_id       | VARCHAR  | VARCHAR  | N/A         | N/A         |           |
+----------------------+----------+----------+-------------+-------------+-----------+
| batter_runs          | BIGINT   | TINYINT  | 0           | 8           | ✓         |
+----------------------+----------+----------+-------------+-------------+-----------+
| extras               | BIGINT   | TINYINT  | 0           | 12          | ✓         |
+----------------------+----------+----------+-------------+-------------+-----------+
| total_runs           | BIGINT   | TINYINT  | 0           | 13          | ✓         |
+----------------------+----------+----------+-------------+-------------+-----------+
| extras_type          | VARCHAR  | VARCHAR  | N/A         | N/A         |           |
+----------------------+----------+----------+-------------+-------------+-----------+
| extras_value         | BIGINT   | TINYINT  | 0           | 12          | ✓         |
+----------------------+----------+----------+-------------+-------------+-----------+
| is_wicket            | BIGINT   | BOOLEAN  | False       | True        | ✓         |
+----------------------+----------+----------+-------------+-------------+-----------+
| wicket_player_out    | VARCHAR  | VARCHAR  | N/A         | N/A         |           |
+----------------------+----------+----------+-------------+-------------+-----------+
| wicket_player_out_id | VARCHAR  | VARCHAR  | N/A         | N/A         |           |
+----------------------+----------+----------+-------------+-------------+-----------+
| wicket_kind          | VARCHAR  | VARCHAR  | N/A         | N/A         |           |
+----------------------+----------+----------+-------------+-------------+-----------+
| wicket_fielder       | VARCHAR  | VARCHAR  | N/A         | N/A         |           |
+----------------------+----------+----------+-------------+-------------+-----------+
| wicket_fielder_id    | VARCHAR  | VARCHAR  | N/A         | N/A         |           |
+----------------------+----------+----------+-------------+-------------+-----------+

=== Table: innings ===

+----------------------+----------+---------+-------------+-------------+-----------+
| Column               | Before   | After   | Min Value   | Max Value   | Changed   |
+======================+==========+=========+=============+=============+===========+
| innings_id           | VARCHAR  | VARCHAR | N/A         | N/A         |           |
+----------------------+----------+---------+-------------+-------------+-----------+
| match_id             | VARCHAR  | VARCHAR | N/A         | N/A         |           |
+----------------------+----------+---------+-------------+-------------+-----------+
| innings_number       | BIGINT   | TINYINT | 1           | 6           | ✓         |
+----------------------+----------+---------+-------------+-------------+-----------+
| batting_team         | VARCHAR  | VARCHAR | N/A         | N/A         |           |
+----------------------+----------+---------+-------------+-------------+-----------+
| powerplay_start_over | DOUBLE   | DOUBLE  | N/A         | N/A         |           |
+----------------------+----------+---------+-------------+-------------+-----------+
| powerplay_end_over   | DOUBLE   | DOUBLE  | N/A         | N/A         |           |
+----------------------+----------+---------+-------------+-------------+-----------+
| bowling_team         | VARCHAR  | VARCHAR | N/A         | N/A         |           |
+----------------------+----------+---------+-------------+-------------+-----------+

=== Table: matches ===

+--------------------+----------+--------------+-------------+-------------+-----------+
| Column             | Before   | After        | Min Value   | Max Value   | Changed   |
+====================+==========+==============+=============+=============+===========+
| match_id           | VARCHAR  | VARCHAR      | N/A         | N/A         |           |
+--------------------+----------+--------------+-------------+-------------+-----------+
| date               | DATE     | DATE         | N/A         | N/A         |           |
+--------------------+----------+--------------+-------------+-------------+-----------+
| city               | VARCHAR  | VARCHAR      | N/A         | N/A         |           |
+--------------------+----------+--------------+-------------+-------------+-----------+
| venue              | VARCHAR  | VARCHAR      | N/A         | N/A         |           |
+--------------------+----------+--------------+-------------+-------------+-----------+
| match_type         | VARCHAR  | VARCHAR      | N/A         | N/A         |           |
+--------------------+----------+--------------+-------------+-------------+-----------+
| gender             | VARCHAR  | VARCHAR      | N/A         | N/A         |           |
+--------------------+----------+--------------+-------------+-------------+-----------+
| season             | VARCHAR  | VARCHAR      | N/A         | N/A         |           |
+--------------------+----------+--------------+-------------+-------------+-----------+
| match_event_name   | VARCHAR  | VARCHAR      | N/A         | N/A         |           |
+--------------------+----------+--------------+-------------+-------------+-----------+
| match_event_id     | VARCHAR  | VARCHAR      | N/A         | N/A         |           |
+--------------------+----------+--------------+-------------+-------------+-----------+
| match_number       | DOUBLE   | DOUBLE       | N/A         | N/A         |           |
+--------------------+----------+--------------+-------------+-------------+-----------+
| overs              | DOUBLE   | DECIMAL(4,1) | 20.0        | 50.0        | ✓         |
+--------------------+----------+--------------+-------------+-------------+-----------+
| team1              | VARCHAR  | VARCHAR      | N/A         | N/A         |           |
+--------------------+----------+--------------+-------------+-------------+-----------+
| team2              | VARCHAR  | VARCHAR      | N/A         | N/A         |           |
+--------------------+----------+--------------+-------------+-------------+-----------+
| toss_winner        | VARCHAR  | VARCHAR      | N/A         | N/A         |           |
+--------------------+----------+--------------+-------------+-------------+-----------+
| toss_decision      | VARCHAR  | VARCHAR      | N/A         | N/A         |           |
+--------------------+----------+--------------+-------------+-------------+-----------+
| outcome_winner     | VARCHAR  | VARCHAR      | N/A         | N/A         |           |
+--------------------+----------+--------------+-------------+-------------+-----------+
| outcome_by_runs    | DOUBLE   | SMALLINT     | 1           | 504         | ✓         |
+--------------------+----------+--------------+-------------+-------------+-----------+
| outcome_by_wickets | DOUBLE   | TINYINT      | 1           | 10          | ✓         |
+--------------------+----------+--------------+-------------+-------------+-----------+
| outcome_method     | VARCHAR  | VARCHAR      | N/A         | N/A         |           |
+--------------------+----------+--------------+-------------+-------------+-----------+
| player_of_match    | VARCHAR  | VARCHAR      | N/A         | N/A         |           |
+--------------------+----------+--------------+-------------+-------------+-----------+
| player_of_match_id | VARCHAR  | VARCHAR      | N/A         | N/A         |           |
+--------------------+----------+--------------+-------------+-------------+-----------+

=== Table: overs ===

+----------------+----------+----------+-------------+-------------+-----------+
| Column         | Before   | After    | Min Value   | Max Value   | Changed   |
+================+==========+==========+=============+=============+===========+
| over_id        | VARCHAR  | VARCHAR  | N/A         | N/A         |           |
+----------------+----------+----------+-------------+-------------+-----------+
| innings_id     | VARCHAR  | VARCHAR  | N/A         | N/A         |           |
+----------------+----------+----------+-------------+-------------+-----------+
| over_number    | BIGINT   | SMALLINT | 0           | 248         | ✓         |
+----------------+----------+----------+-------------+-------------+-----------+
| total_runs     | BIGINT   | TINYINT  | 0           | 43          | ✓         |
+----------------+----------+----------+-------------+-------------+-----------+
| wickets        | BIGINT   | TINYINT  | 0           | 5           | ✓         |
+----------------+----------+----------+-------------+-------------+-----------+
| num_deliveries | BIGINT   | TINYINT  | 1           | 19          | ✓         |
+----------------+----------+----------+-------------+-------------+-----------+
| total_extras   | BIGINT   | BIGINT   | N/A         | N/A         |           |
+----------------+----------+----------+-------------+-------------+-----------+
| extras_wides   | BIGINT   | BIGINT   | N/A         | N/A         |           |
+----------------+----------+----------+-------------+-------------+-----------+
| extras_noballs | BIGINT   | BIGINT   | N/A         | N/A         |           |
+----------------+----------+----------+-------------+-------------+-----------+
| extras_byes    | BIGINT   | BIGINT   | N/A         | N/A         |           |
+----------------+----------+----------+-------------+-------------+-----------+
| extras_legbyes | BIGINT   | BIGINT   | N/A         | N/A         |           |
+----------------+----------+----------+-------------+-------------+-----------+

=== Table: players ===

+-------------+----------+---------+-------------+-------------+-----------+
| Column      | Before   | After   | Min Value   | Max Value   | Changed   |
+=============+==========+=========+=============+=============+===========+
| player_id   | VARCHAR  | VARCHAR | N/A         | N/A         |           |
+-------------+----------+---------+-------------+-------------+-----------+
| player_name | VARCHAR  | VARCHAR | N/A         | N/A         |           |
+-------------+----------+---------+-------------+-------------+-----------+

=== Summary ===

Total columns: 64
Columns with type changes: 15 (23.4%)

Type conversion breakdown:
  BIGINT → BOOLEAN: 1 columns
  BIGINT → SMALLINT: 2 columns
  BIGINT → TINYINT: 9 columns
  DOUBLE → DECIMAL(4,1): 1 columns
  DOUBLE → SMALLINT: 1 columns
  DOUBLE → TINYINT: 1 columns

Estimated storage impact:
  Before: 3041.94 MB
  After: 2558.12 MB
  Savings: 483.83 MB (15.9%)

Per-table storage impact:
+------------+-----------+------------+------------+-----------+-------------+
| Table      | Rows      | Before     | After      | Savings   | Savings %   |
+============+===========+============+============+===========+=============+
| deliveries | 9,663,876 | 2875.45 MB | 2433.07 MB | 442.38 MB | 15.4%       |
+------------+-----------+------------+------------+-----------+-------------+
| innings    | 41,435    | 3.48 MB    | 3.20 MB    | 0.28 MB   | 8.0%        |
+------------+-----------+------------+------------+-----------+-------------+
| matches    | 18,646    | 5.19 MB    | 4.89 MB    | 0.30 MB   | 5.8%        |
+------------+-----------+------------+------------+-----------+-------------+
| overs      | 1,587,241 | 157.43 MB  | 116.56 MB  | 40.87 MB  | 26.0%       |
+------------+-----------+------------+------------+-----------+-------------+
| players    | 12,975    | 0.40 MB    | 0.40 MB    | 0.00 MB   | 0.0%        |
+------------+-----------+------------+------------+-----------+-------------+

In [4]:
import duckdb
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Connect to your database
conn = duckdb.connect('cricket_analytics.db')

# Function to check for NULL values in each table
def analyze_null_values(connection):
    # Get list of tables
    tables = connection.execute("SELECT table_name FROM information_schema.tables WHERE table_schema='main'").fetchall()
    tables = [table[0] for table in tables]
    
    null_stats = {}
    
    for table in tables:
        # Get all columns for the table
        columns = connection.execute(f"PRAGMA table_info('{table}')").fetchall()
        column_names = [col[1] for col in columns]
        
        table_stats = {}
        total_rows = connection.execute(f"SELECT COUNT(*) FROM {table}").fetchone()[0]
        
        for col in column_names:
            # Count NULL values
            null_count = connection.execute(f"SELECT COUNT(*) FROM {table} WHERE {col} IS NULL").fetchone()[0]
            null_percentage = (null_count / total_rows) * 100 if total_rows > 0 else 0
            
            table_stats[col] = {
                'null_count': null_count,
                'null_percentage': null_percentage
            }
        
        null_stats[table] = {
            'total_rows': total_rows,
            'columns': table_stats
        }
    
    return null_stats

# Execute the analysis
null_analysis = analyze_null_values(conn)

# Print formatted results
for table, stats in null_analysis.items():
    print(f"\n=== NULL Analysis for {table} table ===")
    print(f"Total rows: {stats['total_rows']}")
    print("\nColumn-wise NULL statistics:")
    
    null_data = []
    for col, values in stats['columns'].items():
        null_data.append({
            'Column': col,
            'NULL Count': values['null_count'],
            'NULL %': f"{values['null_percentage']:.2f}%"
        })
    
    # Convert to DataFrame for better display
    null_df = pd.DataFrame(null_data)
    null_df = null_df.sort_values(by='NULL Count', ascending=False)
    print(null_df.to_string(index=False))
    
    # Plot the results for columns with missing values
    null_cols = null_df[null_df['NULL Count'] > 0]
    if not null_cols.empty:
        plt.figure(figsize=(12, 6))
        sns.barplot(x='Column', y='NULL Count', data=null_cols)
        plt.title(f'NULL Values in {table} Table')
        plt.xticks(rotation=45, ha='right')
        plt.tight_layout()
        plt.savefig(f'{table}_null_analysis.png')
        plt.close()

=== NULL Analysis for deliveries table ===
Total rows: 9663876

Column-wise NULL statistics:
              Column  NULL Count NULL %
   wicket_fielder_id     9477344 98.07%
      wicket_fielder     9477344 98.07%
         wicket_kind     9375018 97.01%
wicket_player_out_id     9375018 97.01%
   wicket_player_out     9375018 97.01%
         extras_type     9337791 96.63%
         batter_runs           0  0.00%
           is_wicket           0  0.00%
        extras_value           0  0.00%
          total_runs           0  0.00%
              extras           0  0.00%
         delivery_id           0  0.00%
             over_id           0  0.00%
         non_striker           0  0.00%
           bowler_id           0  0.00%
              bowler           0  0.00%
           batter_id           0  0.00%
              batter           0  0.00%
         ball_number           0  0.00%
         over_number           0  0.00%
            match_id           0  0.00%
          innings_id           0  0.00%
      non_striker_id           0  0.00%

=== NULL Analysis for innings table ===
Total rows: 41435

Column-wise NULL statistics:
              Column  NULL Count NULL %
powerplay_start_over       10161 24.52%
  powerplay_end_over       10161 24.52%
          innings_id           0  0.00%
            match_id           0  0.00%
      innings_number           0  0.00%
        batting_team           0  0.00%
        bowling_team           0  0.00%

=== NULL Analysis for matches table ===
Total rows: 18646

Column-wise NULL statistics:
            Column  NULL Count NULL %
    outcome_method       17814 95.54%
    match_event_id       13425 72.00%
   outcome_by_runs       10023 53.75%
outcome_by_wickets       10017 53.72%
      match_number        5808 31.15%
player_of_match_id        4895 26.25%
   player_of_match        4895 26.25%
             overs        2624 14.07%
              city        1649  8.84%
    outcome_winner        1390  7.45%
  match_event_name          89  0.48%
            season           0  0.00%
              date           0  0.00%
             team1           0  0.00%
             team2           0  0.00%
       toss_winner           0  0.00%
     toss_decision           0  0.00%
            gender           0  0.00%
        match_type           0  0.00%
             venue           0  0.00%
          match_id           0  0.00%

=== NULL Analysis for overs table ===
Total rows: 1587241

Column-wise NULL statistics:
        Column  NULL Count NULL %
       over_id           0  0.00%
    innings_id           0  0.00%
   over_number           0  0.00%
    total_runs           0  0.00%
       wickets           0  0.00%
num_deliveries           0  0.00%
  total_extras           0  0.00%
  extras_wides           0  0.00%
extras_noballs           0  0.00%
   extras_byes           0  0.00%
extras_legbyes           0  0.00%

=== NULL Analysis for players table ===
Total rows: 12975

Column-wise NULL statistics:
     Column  NULL Count NULL %
  player_id           0  0.00%
player_name           0  0.00%

In [4]:
def analyze_venue_consistency(connection):
    # Identify variations in venue names
    venue_query = """
    SELECT 
        venue, 
        COUNT(*) as match_count
    FROM 
        matches
    WHERE 
        venue IS NOT NULL
    GROUP BY 
        venue
    ORDER BY 
        match_count DESC
    """
    
    venues = connection.execute(venue_query).fetchdf()
    
    # Find similar venue names using fuzzy matching
    import difflib
    
    similar_venues = []
    venue_list = venues['venue'].tolist()
    
    for i, venue1 in enumerate(venue_list):
        for venue2 in venue_list[i+1:]:
            # Calculate similarity ratio
            similarity = difflib.SequenceMatcher(None, venue1, venue2).ratio()
            
            # If venues are similar but not identical
            if similarity > 0.8 and similarity < 1.0:
                similar_venues.append({
                    'venue1': venue1,
                    'venue2': venue2,
                    'similarity': similarity,
                    'count1': venues[venues['venue'] == venue1]['match_count'].values[0],
                    'count2': venues[venues['venue'] == venue2]['match_count'].values[0]
                })
    
    # Convert to DataFrame for better display
    similar_venues_df = pd.DataFrame(similar_venues)
    if not similar_venues_df.empty:
        similar_venues_df = similar_venues_df.sort_values(by='similarity', ascending=False)
    
    return {
        'venue_counts': venues,
        'similar_venues': similar_venues_df
    }

# Execute the venue analysis
venue_analysis = analyze_venue_consistency(conn)

# Print results
print("\n=== Venue Analysis ===")
print(f"Total unique venues: {len(venue_analysis['venue_counts'])}")
print("\nTop 20 venues by match count:")
print(venue_analysis['venue_counts'].head(20).to_string(index=False))

if not venue_analysis['similar_venues'].empty:
    print("\nPotentially similar venue names:")
    print(venue_analysis['similar_venues'].to_string(index=False))
#check with chatGPT to output the similarity based on knowledge, explain the context

=== Venue Analysis ===
Total unique venues: 831

Top 20 venues by match count:
                                venue  match_count
  Dubai International Cricket Stadium          341
Shere Bangla National Stadium, Mirpur          333
                        County Ground          261
                Edgbaston, Birmingham          224
           The Rose Bowl, Southampton          210
                   Harare Sports Club          197
                        Adelaide Oval          194
              Kennington Oval, London          185
             Trent Bridge, Nottingham          183
                Sydney Cricket Ground          182
             Melbourne Cricket Ground          181
              Sharjah Cricket Stadium          179
            County Ground, Chelmsford          175
                    Headingley, Leeds          169
             Old Trafford, Manchester          168
   County Ground, New Road, Worcester          160
                       Lord's, London          158
              Sophia Gardens, Cardiff          157
                  County Ground, Hove          156
  Riverside Ground, Chester-le-Street          153

Potentially similar venue names:
                                                                  venue1                                                                venue2  similarity  count1  count2
                        Daren Sammy National Cricket Stadium, Gros Islet                     Darren Sammy National Cricket Stadium, Gros Islet    0.989691      38       1
                         Darren Sammy National Cricket Stadium, St Lucia                        Daren Sammy National Cricket Stadium, St Lucia    0.989247       4       1
            Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium        Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium B    0.983607      14       5
                 Al Amerat Cricket Ground Oman Cricket (Ministry Turf 1)               Al Amerat Cricket Ground Oman Cricket (Ministry Turf 2)    0.981818     134      45
                                              Lalbhai Contractor Stadium                                           Lalabhai Contractor Stadium    0.981132      33       4
                     Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium                   Dr. Y.S. Rajasekhara Reddy ACA VDCA Cricket Stadium    0.980392      25      23
                                                Alur Cricket Stadium III                                               Alur Cricket Stadium II    0.978723       5       4
                         Achimota Senior Secondary School A Field, Accra                       Achimota Senior Secondary School B Field, Accra    0.978723      16       9
                           Gahanga International Cricket Stadium. Rwanda                         Gahanga International Cricket Stadium, Rwanda    0.977778      88      61
                           Botswana Cricket Association Oval 1, Gaborone                         Botswana Cricket Association Oval 2, Gaborone    0.977778      33      16
                                Nigeria Cricket Federation Oval 2, Abuja                              Nigeria Cricket Federation Oval 1, Abuja    0.975000       5       4
                                     Botswana Cricket Association Oval 1                                   Botswana Cricket Association Oval 2    0.971429      15      12
                                          Sheikh Zayed Stadium Nursery 1                                        Sheikh Zayed Stadium Nursery 2    0.966667       7       5
                                          Ekeberg Cricket Ground 1, Oslo                                        Ekeberg Cricket Ground 2, Oslo    0.966667       3       1
            Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium            Bharat Ratna Shri Atal Bihari Vajpai Ekana Cricket Stadium    0.966102      14       2
                                           Zahur Ahmed Chowdhury Stadium                                         Zohur Ahmed Chowdhury Stadium    0.965517      42       4
  Dr. Gokaraju Laila Ganga Raju ACA Cricket Complex -DVR Ground,Mulapadu Dr. Gokaraju Laila Ganga Raju ACA Cricket Complex -CP Ground,Mulapadu    0.964029      14       7
                                             Ground 1, Independence Park                                           Ground 2, Independence Park    0.962963       6       4
                                               Sportpark Het Schootsveld                                           Sportpark Het Schootsveld 2    0.961538      17       1
                                               Stellenbosch University 1                                             Stellenbosch University 2    0.960000       2       1
                                                Willowmoore Park B Field                                              Willowmoore Park C Field    0.958333       9       8
                                                Willowmoore Park B Field                                              Willowmoore Park A Field    0.958333       9       4
                                                Willowmoore Park C Field                                              Willowmoore Park A Field    0.958333       8       4
                                          Airforce Complex ground, Palam                                     Airforce Complex ground, Palam II    0.952381      21      14
                                                   M Chinnaswamy Stadium                                                 M.Chinnaswamy Stadium    0.952381      91      20
          Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium B            Bharat Ratna Shri Atal Bihari Vajpai Ekana Cricket Stadium    0.950000       5       2
                                 Maple Leaf North-West Ground, King City                               Maple Leaf North-East Ground, King City    0.948718      17       6
                                                     R Premadasa Stadium                                                   R.Premadasa Stadium    0.947368      84       6
                                                       Koge Cricket Club                                                   Koge Cricket Club 2    0.944444       3       2
                                                      ICC Academy Oval 2                                                    ICC Academy Oval 1    0.944444       2       1
                                     The Wanderers Stadium, Johannesburg                                   New Wanderers Stadium, Johannesburg    0.942857      43      41
                                                       Faleata Oval No 3                                                     Faleata Oval No 2    0.941176       3       1
                                                       Faleata Oval No 1                                                     Faleata Oval No 2    0.941176       2       1
                                                       Faleata Oval No 3                                                     Faleata Oval No 1    0.941176       3       2
                                               Alembic 2  Cricket Ground                                              Alembic 1 Cricket Ground    0.938776       6       3
                                                        Abu Dhabi Oval 1                                                      Abu Dhabi Oval 2    0.937500       4       2
                                 Maharashtra Cricket Association Stadium                                Saurashtra Cricket Association Stadium    0.935065      33      28
                       West End Park International Cricket Stadium, Doha                           West End Park International Cricket Stadium    0.934783      45       4
                                                         Kennington Oval                                                       Kensington Oval    0.933333     125       1
                                        Kibworth Cricket Club New Ground                                          Kibworth Cricket Club Ground    0.933333       2       1
                                      Dr DY Patil Sports Academy, Mumbai                               Dr DY Patil Sports Academy, Navi Mumbai    0.931507      37       3
   Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow        Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium B    0.931298      29       5
   Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow          Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium    0.930233      29      14
                                                 Alur Cricket Stadium II                                                  Alur Cricket Stadium    0.930233       4       4
                                          The Kent County Cricket Ground                                            Kent County Cricket Ground    0.928571       6       1
                                            Maple Leaf North-West Ground                                          Maple Leaf South-West Ground    0.928571       6       1
                                 Maharashtra Cricket Association Stadium                         Maharashtra Cricket Association Stadium, Pune    0.928571      33      24
                            Western Australia Cricket Association Ground                   Western Australia Cricket Association Ground, Perth    0.926316      64      50
                                                           Albert Park 2                                                         Albert Park 1    0.923077       6       5
                        Shaheed Veer Narayan Singh International Stadium              Shaheed Veer Narayan Singh International Stadium, Raipur    0.923077      20       2
                            Vidarbha Cricket Association Stadium, Jamtha                  Vidarbha Cricket Association Stadium, Jamtha, Nagpur    0.916667      39       3
                    Punjab Cricket Association IS Bindra Stadium, Mohali                          Punjab Cricket Association IS Bindra Stadium    0.916667      23      10
                                       Tafawa Balewa Square Cricket Oval                               Tafawa Balewa Square (TBS) Cricket Oval    0.916667       5       1
        Punjab Cricket Association IS Bindra Stadium, Mohali, Chandigarh                Punjab Cricket Association Stadium, Mohali, Chandigarh    0.915254      15       1
                                                             Skarpnack 2                                                           Skarpnack 1    0.909091       2       2
                                                Alur Cricket Stadium III                                                  Alur Cricket Stadium    0.909091       5       4
Mahinda Rajapaksa International Cricket Stadium, Sooriyawewa, Hambantota          Mahinda Rajapaksa International Cricket Stadium, Sooriyawewa    0.909091      38      30
                                      Wright Cricket Field, Woodley Park                                      Wong Cricket Field, Woodley Park    0.909091       6       4
             Tribhuvan University International Cricket Ground, Kirtipur                     Tribhuvan University International Cricket Ground    0.907407     104      14
                               Grange Cricket Club Ground, Raeburn Place                                    Grange Cricket Club, Raeburn Place    0.906667      13       3
                               Rajiv Gandhi International Stadium, Uppal                                    Rajiv Gandhi International Stadium    0.906667      61      15
                                        M Chinnaswamy Stadium, Bengaluru                                      M Chinnaswamy Stadium, Bangalore    0.906250      52       2
                        Daren Sammy National Cricket Stadium, Gros Islet            Daren Sammy National Cricket Stadium, Gros Islet, St Lucia    0.905660      38      38
                                                   New Wanderers Stadium                                                 The Wanderers Stadium    0.904762      59      21
                                  Saurashtra Cricket Association Stadium                        Saurashtra Cricket Association Stadium, Rajkot    0.904762      28      20
                                  Saurashtra Cricket Association Stadium                                   Sharjah Cricket Association Stadium    0.904110      28       7
                                Tafawa Balewa Square Cricket Oval, Lagos                                     Tafawa Balewa Square Cricket Oval    0.904110      22       5
                               Zahur Ahmed Chowdhury Stadium, Chattogram                             Zahur Ahmed Chowdhury Stadium, Chittagong    0.902439      86      34
                                                              VRA Ground                                                            VCA Ground    0.900000      25       7
                       Sir Vivian Richards Stadium, North Sound, Antigua                              Sir Vivian Richards Stadium, North Sound    0.898876      47      36
   Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow            Bharat Ratna Shri Atal Bihari Vajpai Ekana Cricket Stadium    0.897638      29       2
              Daren Sammy National Cricket Stadium, Gros Islet, St Lucia                     Darren Sammy National Cricket Stadium, Gros Islet    0.897196      38       1
                    Punjab Cricket Association IS Bindra Stadium, Mohali      Punjab Cricket Association IS Bindra Stadium, Mohali, Chandigarh    0.896552      23      15
                                      Blacktown International Sportspark                            Blacktown International Sportspark, Sydney    0.894737      11       4
                                      JSCA International Stadium Complex                            JSCA International Stadium Complex, Ranchi    0.894737      26      15
                                              Cambusdoon New Ground, Ayr                                                 Cambusdoon New Ground    0.893617       2       2
                              Punjab Cricket Association Stadium, Mohali                  Punjab Cricket Association IS Bindra Stadium, Mohali    0.893617      55      23
                                              Ted Summerton Reserve, Moe                                                 Ted Summerton Reserve    0.893617       3       2
                               Pembroke Cricket Club, Sandymount, Dublin                                     Pembroke Cricket Club, Sandymount    0.891892      55       1
                               Bready Cricket Club, Magheramason, Bready                                     Bready Cricket Club, Magheramason    0.891892      29       8
                                 Maharashtra Cricket Association Stadium                                   Sharjah Cricket Association Stadium    0.891892      33       7
                                   National Cricket Stadium, St George's                        National Cricket Stadium, St George's, Grenada    0.891566      17       8
                       Central Broward Regional Park Stadium Turf Ground         Central Broward Regional Park Stadium Turf Ground, Lauderhill    0.890909      30       7
                                     Bangabandhu National Stadium, Dhaka                                          Bangabandhu National Stadium    0.888889       4       3
                                    Antigua Recreation Ground, St John's                         Antigua Recreation Ground, St John's, Antigua    0.888889       4       1
                           Civil Service Cricket Club, Stormont, Belfast                                  Civil Service Cricket Club, Stormont    0.888889      38      26
                                                    UKM-YSD Cricket Oval                                                      UKM Cricket Oval    0.888889      10       1
                            The Cooper Associates County Ground, Taunton                                   The Cooper Associates County Ground    0.886076     111      43
                                             Colombo Cricket Club Ground                                             Colts Cricket Club Ground    0.884615      10       3
              Daren Sammy National Cricket Stadium, Gros Islet, St Lucia                        Daren Sammy National Cricket Stadium, St Lucia    0.884615      38       1
                                  Brisbane Cricket Ground, Woolloongabba                      Brisbane Cricket Ground, Woolloongabba, Brisbane    0.883721      88      51
                               Rajiv Gandhi International Stadium, Uppal                  Rajiv Gandhi International Stadium, Uppal, Hyderabad    0.881720      61      24
                    Grange Cricket Club Ground, Raeburn Place, Edinburgh                             Grange Cricket Club Ground, Raeburn Place    0.881720      22      13
                            Himachal Pradesh Cricket Association Stadium              Himachal Pradesh Cricket Association Stadium, Dharamsala    0.880000      23      11
                                      Severn Cricket Field, Woodley Park                                      Wong Cricket Field, Woodley Park    0.878788       5       4
                                   Shere Bangla National Stadium, Mirpur                                         Shere Bangla National Stadium    0.878788     333     136
                                    Daren Sammy National Cricket Stadium                        Daren Sammy National Cricket Stadium, St Lucia    0.878049       1       1
                                                      Boland Park, Paarl                                               Boland Bank Park, Paarl    0.878049      52       3
              Daren Sammy National Cricket Stadium, Gros Islet, St Lucia                       Darren Sammy National Cricket Stadium, St Lucia    0.876190      38       4
                              Punjab Cricket Association Stadium, Mohali                Punjab Cricket Association Stadium, Mohali, Chandigarh    0.875000      55       1
                                            Clontarf Cricket Club Ground                                  Clontarf Cricket Club Ground, Dublin    0.875000      15       1
                           Botswana Cricket Association Oval 2, Gaborone                                   Botswana Cricket Association Oval 2    0.875000      16      12
                           Botswana Cricket Association Oval 1, Gaborone                                   Botswana Cricket Association Oval 1    0.875000      33      15
                                                          College Ground                                                    SSN College Ground    0.875000      12       5
                                         MA Chidambaram Stadium, Chepauk                              MA Chidambaram Stadium, Chepauk, Chennai    0.873239      72      43
                     Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium    Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium, Visakhapatnam    0.871795      25       8
                                                       North Sydney Oval                                                North Sydney Oval No.2    0.871795      39       1
                                     King George V Sports Ground, Castel                                           King George V Sports Ground    0.870968      13       9
                                             Merrion Cricket Club Ground                                   Merrion Cricket Club Ground, Dublin    0.870968       3       2

In [6]:
def cricket_domain_aware_validation(connection):
    """
    Performs data validation with proper cricket domain knowledge
    """
    print("\n=== Cricket-Specific Data Validation ===")
    
    # 1. Check for truly invalid batter runs (above 7)
    print("\n1. Checking for invalid batter runs...")
    
    invalid_runs_query = """
    SELECT 
        delivery_id, 
        batter,
        bowler,
        match_id,
        batter_runs
    FROM 
        deliveries
    WHERE 
        batter_runs > 7  -- Allow up to 7 runs (3 runs + 4 overthrow boundary)
    ORDER BY
        batter_runs DESC
    LIMIT 10
    """
    
    invalid_runs = connection.execute(invalid_runs_query).fetchdf()
    
    if len(invalid_runs) > 0:
        print(f"Found {len(invalid_runs)} deliveries with truly invalid runs (>7):")
        print(invalid_runs.to_string(index=False))
    else:
        print("No truly invalid batter runs found. All values are within cricket rules (0-7).")
        
    # 2. Check for valid 7-run deliveries and confirm they're rare
    print("\n2. Analyzing frequency of 7-run deliveries...")
    
    seven_runs_query = """
    SELECT 
        COUNT(*) as count_7_runs,
        (SELECT COUNT(*) FROM deliveries) as total_deliveries,
        COUNT(*) * 100.0 / (SELECT COUNT(*) FROM deliveries) as percentage
    FROM 
        deliveries
    WHERE 
        batter_runs = 7
    """
    
    seven_runs_stats = connection.execute(seven_runs_query).fetchone()
    
    print(f"7-run deliveries: {seven_runs_stats[0]:,} out of {seven_runs_stats[1]:,} total deliveries ({seven_runs_stats[2]:.6f}%)")
    print("VALID: While rare, 7 runs can occur legitimately in cricket (3 runs + 4 overthrow boundary)")
    
    # 3. Analyze match overs with cricket-specific logic
    print("\n3. Analyzing match overs with cricket-specific knowledge...")
    
    match_overs_query = """
    WITH match_overs AS (
        SELECT 
            m.match_id,
            m.match_type,
            m.overs as declared_overs,
            MAX(o.over_number) + 1 as max_over_number,  -- Add 1 because over numbers start at 0
            COUNT(DISTINCT o.over_id) as actual_overs_count,
            m.outcome_winner
        FROM 
            matches m
        JOIN 
            innings i ON m.match_id = i.match_id
        JOIN 
            overs o ON i.innings_id = o.innings_id
        GROUP BY 
            m.match_id, m.match_type, m.overs, m.outcome_winner
    )
    SELECT 
        match_type,
        COUNT(*) as matches,
        AVG(declared_overs) as avg_declared_overs,
        AVG(max_over_number) as avg_max_over,
        AVG(actual_overs_count) as avg_actual_overs,
        COUNT(CASE WHEN outcome_winner IS NULL THEN 1 END) as no_result_matches,
        COUNT(CASE WHEN actual_overs_count < declared_overs * 0.7 AND outcome_winner IS NOT NULL THEN 1 END) as shortened_with_result
    FROM 
        match_overs
    WHERE
        declared_overs IS NOT NULL AND
        match_type IN ('ODI', 'T20', 'IT20', 'ODM', 'T20M')
    GROUP BY
        match_type
    ORDER BY
        matches DESC
    """
    
    match_overs_stats = connection.execute(match_overs_query).fetchdf()
    
    print("Match overs statistics by match type:")
    print(match_overs_stats.to_string(index=False))
    
    # 4. Find truly problematic matches (overs count exceeds declared limit)
    print("\n4. Checking for matches where actual overs exceed declared limit...")
    
    exceeded_overs_query = """
    WITH match_overs AS (
        SELECT 
            m.match_id,
            m.match_type,
            m.overs as declared_overs,
            MAX(o.over_number) + 1 as max_over_number,
            COUNT(DISTINCT o.over_id) as actual_overs_count,
            m.outcome_winner
        FROM 
            matches m
        JOIN 
            innings i ON m.match_id = i.match_id
        JOIN 
            overs o ON i.innings_id = o.innings_id
        GROUP BY 
            m.match_id, m.match_type, m.overs, m.outcome_winner
    )
    SELECT 
        match_id, 
        match_type,
        declared_overs,
        max_over_number,
        actual_overs_count,
        outcome_winner
    FROM 
        match_overs
    WHERE 
        declared_overs IS NOT NULL AND
        match_type IN ('ODI', 'T20', 'IT20', 'ODM', 'T20M') AND
        max_over_number > declared_overs * 1.1  -- 10% buffer for rounding
    ORDER BY
        (max_over_number - declared_overs) DESC
    LIMIT 10
    """
    
    exceeded_overs = connection.execute(exceeded_overs_query).fetchdf()
    
    if len(exceeded_overs) > 0:
        print(f"Found {len(exceeded_overs)} matches where actual overs exceed declared limit:")
        print(exceeded_overs.to_string(index=False))
    else:
        print("No matches found where actual overs exceed the declared limit.")
        print("VALID: The '50.0 declared vs 50 actual' is a data type difference (float vs int), not a data issue.")
    
    # 5. Check for unusual over lengths
    print("\n5. Checking for unusual over lengths...")
    
    unusual_overs_query = """
    SELECT 
        num_deliveries,
        COUNT(*) as over_count,
        COUNT(*) * 100.0 / (SELECT COUNT(*) FROM overs) as percentage
    FROM 
        overs
    GROUP BY 
        num_deliveries
    ORDER BY 
        num_deliveries
    """
    
    unusual_overs = connection.execute(unusual_overs_query).fetchdf()
    
    print("Over lengths distribution:")
    print(unusual_overs.to_string(index=False))
    print("VALID: Overs with >6 deliveries occur due to extras (wides, no-balls), which is normal in cricket.")
    
    return {
        "invalid_runs": invalid_runs,
        "seven_runs_stats": seven_runs_stats,
        "match_overs_stats": match_overs_stats,
        "exceeded_overs": exceeded_overs,
        "unusual_overs": unusual_overs
    }

# Run
validation_results = cricket_domain_aware_validation(conn)

=== Cricket-Specific Data Validation ===

1. Checking for invalid batter runs...
Found 1 deliveries with truly invalid runs (>7):
  delivery_id    batter     bowler match_id  batter_runs
351679_1_45_3 A Symonds IE O'Brien   351679            8

2. Analyzing frequency of 7-run deliveries...
7-run deliveries: 11 out of 9,663,876 total deliveries (0.000114%)
VALID: While rare, 7 runs can occur legitimately in cricket (3 runs + 4 overthrow boundary)

3. Analyzing match overs with cricket-specific knowledge...
Match overs statistics by match type:
match_type  matches  avg_declared_overs  avg_max_over  avg_actual_overs  no_result_matches  shortened_with_result
       T20    11298           20.031864     19.519738         37.068508                341                     40
       ODI     2937           50.000000     46.947225         86.302009                145                      9
       ODM     1467           50.000000     46.004090         83.886844                 75                      9
      IT20      320           20.093750     19.343750         35.531250                  6                      4

4. Checking for matches where actual overs exceed declared limit...
No matches found where actual overs exceed the declared limit.
VALID: The '50.0 declared vs 50 actual' is a data type difference (float vs int), not a data issue.

5. Checking for unusual over lengths...
Over lengths distribution:
 num_deliveries  over_count  percentage
              1        3295    0.207593
              2        3618    0.227943
              3        3758    0.236763
              4        3910    0.246339
              5       11997    0.755840
              6     1391919   87.694244
              7      142074    8.951004
              8       21464    1.352284
              9        3970    0.250120
             10         873    0.055001
             11         228    0.014365
             12          78    0.004914
             13          31    0.001953
             14          11    0.000693
             15           6    0.000378
             16           6    0.000378
             17           1    0.000063
             19           2    0.000126
VALID: Overs with >6 deliveries occur due to extras (wides, no-balls), which is normal in cricket.

In [7]:
def analyze_runs_distribution(connection):
    # Get overall runs distribution
    runs_query = """
    SELECT 
        batter_runs,
        COUNT(*) as frequency
    FROM 
        deliveries
    GROUP BY 
        batter_runs
    ORDER BY 
        batter_runs
    """
    
    runs_dist = connection.execute(runs_query).fetchdf()
    
    # Check for outliers (runs that should not exist in cricket)
    outlier_runs_query = """
    SELECT 
        delivery_id,
        match_id,
        batter,
        bowler,
        batter_runs,
        extras,
        total_runs
    FROM 
        deliveries
    WHERE 
        batter_runs > 6  -- In cricket, maximum legitimate batter runs is 6
    ORDER BY 
        batter_runs DESC
    LIMIT 100
    """
    
    outlier_runs = connection.execute(outlier_runs_query).fetchdf()
    
    # Analyze extras distribution
    extras_query = """
    SELECT 
        extras_type,
        COUNT(*) as frequency,
        AVG(extras_value) as avg_value,
        MAX(extras_value) as max_value
    FROM 
        deliveries
    WHERE 
        extras > 0
    GROUP BY 
        extras_type
    ORDER BY 
        frequency DESC
    """
    
    extras_dist = connection.execute(extras_query).fetchdf()
    
    # Check for unusual total runs (very high totals might be errors)
    high_runs_query = """
    SELECT 
        delivery_id,
        match_id,
        batter,
        bowler,
        batter_runs,
        extras,
        total_runs
    FROM 
        deliveries
    WHERE 
        total_runs > 7  -- Legitimate totals rarely exceed 7 (6 runs + 1 extra)
    ORDER BY 
        total_runs DESC
    LIMIT 100
    """
    
    high_total_runs = connection.execute(high_runs_query).fetchdf()
    
    return {
        'runs_distribution': runs_dist,
        'outlier_runs': outlier_runs,
        'extras_distribution': extras_dist,
        'high_total_runs': high_total_runs
    }

# Execute runs analysis
runs_analysis = analyze_runs_distribution(conn)

# Print results
print("\n=== Runs Distribution Analysis ===")
print("\nBatter Runs Distribution:")
print(runs_analysis['runs_distribution'].to_string(index=False))

print("\nOutlier Runs (batter_runs > 6):")
if runs_analysis['outlier_runs'].empty:
    print("No outliers found.")
else:
    print(f"Found {len(runs_analysis['outlier_runs'])} outliers")
    print(runs_analysis['outlier_runs'].head(10).to_string(index=False))

print("\nExtras Distribution:")
print(runs_analysis['extras_distribution'].to_string(index=False))

print("\nUnusually High Total Runs (total_runs > 7):")
if runs_analysis['high_total_runs'].empty:
    print("No unusually high totals found.")
else:
    print(f"Found {len(runs_analysis['high_total_runs'])} unusually high totals")
    print(runs_analysis['high_total_runs'].head(10).to_string(index=False))

# Plot runs distribution
plt.figure(figsize=(10, 6))
sns.barplot(x='batter_runs', y='frequency', data=runs_analysis['runs_distribution'])
plt.title('Batter Runs Distribution')
plt.ylabel('Frequency (log scale)')
plt.yscale('log')
plt.savefig('runs_distribution.png')
plt.close()

# Plot extras distribution if available
if not runs_analysis['extras_distribution'].empty:
    plt.figure(figsize=(10, 6))
    sns.barplot(x='extras_type', y='frequency', data=runs_analysis['extras_distribution'])
    plt.title('Extras Type Distribution')
    plt.ylabel('Frequency (log scale)')
    plt.yscale('log')
    plt.savefig('extras_distribution.png')
    plt.close()

=== Runs Distribution Analysis ===

Batter Runs Distribution:
 batter_runs  frequency
           0    5966475
           1    2288315
           2     453237
           3      66220
           4     740475
           5       1294
           6     147848
           7         11
           8          1

Outlier Runs (batter_runs > 6):
Found 12 outliers
   delivery_id match_id        batter          bowler  batter_runs  extras  total_runs
 351679_1_45_3   351679     A Symonds      IE O'Brien            8       0           8
1244266_1_33_3  1244266     DP Sibley         SJ Cook            7       0           7
 1068357_1_2_3  1068357     SM Davies        AF Milne            7       0           7
  722333_3_3_2   722333 KC Brathwaite    VD Philander            7       0           7
 1326341_2_3_7  1326341   NS Dhaliwal U Aryaman Sunil            7       0           7
 249223_4_24_6   249223     MJ Clarke      A Flintoff            7       0           7
 894293_1_14_2   894293     GH Worker   Sikandar Raza            7       0           7
 592401_3_14_3   592401    CJL Rogers     JM Anderson            7       0           7
 522247_2_43_4   522247       T Taibu   Rubel Hossain            7       0           7
 533272_2_17_2   533272     BV Vitori      SL Malinga            7       0           7

Extras Distribution:
extras_type  frequency  avg_value  max_value
      wides     158021   1.219851          5
    legbyes      92674   1.415014          6
    noballs      47191   1.349876          6
       byes      28039   2.308142          5
    penalty        158   5.088608         12

Unusually High Total Runs (total_runs > 7):
Found 100 unusually high totals
    delivery_id match_id         batter         bowler  batter_runs  extras  total_runs
 1068309_2_17_4  1068309    CJ Anderson      TK Curran            1      12          13
  804517_2_18_5   804517     Umar Akmal    LJ Fletcher            6       6          12
 946809_2_113_3   946809      SM Ervine    GS Ballance            6       2           8
 1244243_1_13_5  1244243      JM Clarke       LM Reece            6       2           8
 1347261_1_22_2  1347261    SM Whiteman JM Blatherwick            6       2           8
 1410203_1_38_3  1410203 JM Blatherwick      NRM Thain            6       2           8
 1297720_1_67_2  1297720      AL Hughes   JL Pattinson            6       2           8
1297724_1_119_3  1297724      OJ Carter      AG Salter            6       2           8
 1410306_1_37_5  1410306       W Luxton    LBK Hollman            6       2           8
  1410397_1_3_1  1410397      LWP Wells      Hasan Ali            6       2           8

In [33]:
def analyze_over_lengths(connection):
    # Check over lengths by match type
    over_length_query = """
    SELECT 
        m.match_type,
        AVG(o.num_deliveries) as avg_deliveries_per_over,
        MIN(o.num_deliveries) as min_deliveries,
        MAX(o.num_deliveries) as max_deliveries,
        COUNT(*) as over_count
    FROM 
        overs o
    JOIN 
        innings i ON o.innings_id = i.innings_id
    JOIN 
        matches m ON i.match_id = m.match_id
    GROUP BY 
        m.match_type
    ORDER BY 
        avg_deliveries_per_over DESC
    """
    
    over_lengths = connection.execute(over_length_query).fetchdf()
    
    # Find overs with unusually high number of deliveries
    long_overs_query = """
    SELECT 
        o.over_id,
        m.match_id,
        m.match_type,
        i.batting_team,
        i.bowling_team,
        o.over_number,
        o.num_deliveries,
        o.total_runs,
        o.wickets
    FROM 
        overs o
    JOIN 
        innings i ON o.innings_id = i.innings_id
    JOIN 
        matches m ON i.match_id = m.match_id
    WHERE 
        o.num_deliveries > 8  -- Most overs should have 6 deliveries (or slightly more with extras)
    ORDER BY 
        o.num_deliveries DESC
    LIMIT 100
    """
    
    long_overs = connection.execute(long_overs_query).fetchdf()
    
    # Analyze what makes overs longer (extras, wickets)
    over_factors_query = """
    WITH over_details AS (
        SELECT 
            o.over_id,
            o.num_deliveries,
            COUNT(CASE WHEN d.extras > 0 THEN 1 END) as extras_count,
            COUNT(CASE WHEN d.is_wicket = 1 THEN 1 END) as wicket_count,
            SUM(d.total_runs) as total_runs
        FROM 
            overs o
        JOIN 
            deliveries d ON o.over_id = d.over_id
        GROUP BY 
            o.over_id, o.num_deliveries
    )
    SELECT 
        num_deliveries,
        COUNT(*) as over_count,
        AVG(extras_count) as avg_extras,
        AVG(wicket_count) as avg_wickets,
        AVG(total_runs) as avg_runs
    FROM 
        over_details
    GROUP BY 
        num_deliveries
    ORDER BY 
        num_deliveries
    """
    
    over_factors = connection.execute(over_factors_query).fetchdf()
    
    return {
        'over_lengths_by_type': over_lengths,
        'unusually_long_overs': long_overs,
        'over_length_factors': over_factors
    }

# Execute over length analysis
over_analysis = analyze_over_lengths(conn)

# Print results
print("\n=== Over Length Analysis ===")
print("\nOver Lengths by Match Type:")
print(over_analysis['over_lengths_by_type'].to_string(index=False))

print("\nUnusually Long Overs (>8 deliveries):")
if over_analysis['unusually_long_overs'].empty:
    print("No unusually long overs found.")
else:
    print(f"Found {len(over_analysis['unusually_long_overs'])} unusually long overs")
    print(over_analysis['unusually_long_overs'].head(10).to_string(index=False))

print("\nFactors Affecting Over Length:")
print(over_analysis['over_length_factors'].to_string(index=False))

# Plot average deliveries per over by match type
plt.figure(figsize=(10, 6))
sns.barplot(x='match_type', y='avg_deliveries_per_over', data=over_analysis['over_lengths_by_type'])
plt.title('Average Deliveries per Over by Match Type')
plt.ylim(5.8, 7.0)  # Expected range for cricket
plt.savefig('over_lengths_by_type.png')
plt.close()

# Plot relationship between extras and over length
plt.figure(figsize=(10, 6))
sns.scatterplot(x='num_deliveries', y='avg_extras', 
                size='over_count', data=over_analysis['over_length_factors'])
plt.title('Relationship Between Over Length and Extras')
plt.xlabel('Number of Deliveries in Over')
plt.ylabel('Average Extras per Over')
plt.savefig('over_length_vs_extras.png')
plt.close()

=== Over Length Analysis ===

Over Lengths by Match Type:
match_type  avg_deliveries_per_over  min_deliveries  max_deliveries  over_count
      IT20                 6.236412               1              13       11370
       T20                 6.170320               1              19      418800
       ODM                 6.135566               1              12      123062
       ODI                 6.134005               1              14      253469
      Test                 6.025807               1              10      277020
       MDM                 6.017108               1              10      503520

Unusually Long Overs (>8 deliveries):
Found 100 unusually long overs
     over_id match_id match_type   batting_team bowling_team  over_number  num_deliveries  total_runs  wickets
1459719_2_10  1459719        T20         Mexico   Costa Rica           10              19          14        0
 1402765_1_5  1402765        T20      Argentina        Chile            5              19          29        0
1478412_2_16  1478412        T20         Norway     Portugal           16              17          23        2
 1459719_2_9  1459719        T20         Mexico   Costa Rica            9              16          11        0
1387948_1_12  1387948        T20          Malta  Isle of Man           12              16          15        0
 1445491_1_7  1445491        T20         Norway      Estonia            7              16          12        1
1438091_2_13  1438091        T20 Czech Republic      Croatia           13              16          13        1
1459720_1_12  1459720        T20     Costa Rica       Mexico           12              16          17        0
 1459720_2_7  1459720        T20         Mexico   Costa Rica            7              16          15        1
 1402766_2_4  1402766        T20          Chile    Argentina            4              15           9        0

Factors Affecting Over Length:
 num_deliveries  over_count  avg_extras  avg_wickets  avg_runs
              1        3295    0.030046     0.588467  1.410319
              2        3618    0.070757     0.637092  2.499171
              3        3758    0.117350     0.720064  3.423363
              4        3910    0.154731     0.779795  4.532992
              5       11997    0.134867     0.495541  6.161374
              6     1391919    0.073705     0.166935  4.530461
              7      142074    1.104361     0.234842  7.244077
              8       21464    2.117266     0.267378  9.038436
              9        3970    3.125189     0.275567 10.381108
             10         873    4.139748     0.288660 11.201604
             11         228    5.100877     0.254386 12.947368
             12          78    6.141026     0.320513 13.179487
             13          31    7.193548     0.322581 14.354839
             14          11    8.090909     0.363636 16.272727
             15           6    9.000000     0.333333 16.833333
             16           6   10.000000     0.500000 13.833333
             17           1   11.000000     2.000000 23.000000
             19           2   13.000000     0.000000 21.500000

In [8]:
def check_player_id_consistency(connection):
    """
    Comprehensive check for player ID and name consistency issues
    Returns detailed information about inconsistencies
    """
    # Check players with missing IDs or multiple IDs
    player_id_check = """
    WITH player_names AS (
        SELECT DISTINCT 
            batter as player_name 
        FROM 
            deliveries
        UNION
        SELECT DISTINCT 
            bowler
        FROM 
            deliveries
        UNION
        SELECT DISTINCT 
            non_striker
        FROM 
            deliveries
        UNION
        SELECT DISTINCT 
            wicket_player_out
        FROM 
            deliveries
        WHERE 
            wicket_player_out IS NOT NULL
        UNION
        SELECT DISTINCT 
            wicket_fielder
        FROM 
            deliveries
        WHERE 
            wicket_fielder IS NOT NULL
    )
    SELECT 
        p.player_name,
        COUNT(DISTINCT pl.player_id) as id_count
    FROM 
        player_names p
    LEFT JOIN 
        players pl ON p.player_name = pl.player_name
    GROUP BY 
        p.player_name
    HAVING 
        COUNT(DISTINCT pl.player_id) > 1 OR
        COUNT(DISTINCT pl.player_id) = 0
    ORDER BY 
        id_count DESC, p.player_name
    """
    
    player_id_issues = connection.execute(player_id_check).fetchdf()
    
    # Get the actual IDs for players with multiple IDs
    multiple_ids_detail = []
    missing_ids_detail = []
    
    for _, row in player_id_issues.iterrows():
        player_name = row['player_name']
        id_count = row['id_count']
        
        if id_count > 1:
            # Get all IDs for this player
            ids_query = f"""
            SELECT player_id
            FROM players
            WHERE player_name = '{player_name}'
            ORDER BY player_id
            """
            try:
                ids = connection.execute(ids_query).fetchall()
                ids = [id[0] for id in ids]
                multiple_ids_detail.append({
                    'player_name': player_name,
                    'id_count': id_count,
                    'player_ids': ', '.join(ids)
                })
            except:
                # Handle potential SQL injection issues with quotes in names
                multiple_ids_detail.append({
                    'player_name': player_name,
                    'id_count': id_count,
                    'player_ids': 'Error retrieving IDs'
                })
        else:
            # This is a missing ID case
            missing_ids_detail.append({
                'player_name': player_name,
                'matches_played': 0  # We'll update this below
            })
    
    # Get match count for players with missing IDs
    if missing_ids_detail:
        for i, player_detail in enumerate(missing_ids_detail):
            player_name = player_detail['player_name']
            # Count matches as batter
            batter_query = f"""
            SELECT COUNT(DISTINCT match_id) 
            FROM deliveries 
            WHERE batter = '{player_name}'
            """
            try:
                matches_as_batter = connection.execute(batter_query).fetchone()[0]
                
                # Count matches as bowler
                bowler_query = f"""
                SELECT COUNT(DISTINCT match_id) 
                FROM deliveries 
                WHERE bowler = '{player_name}'
                """
                matches_as_bowler = connection.execute(bowler_query).fetchone()[0]
                
                # Update the detail
                missing_ids_detail[i]['matches_played'] = max(matches_as_batter, matches_as_bowler)
            except:
                # Handle potential SQL injection issues
                missing_ids_detail[i]['matches_played'] = 'Error counting'
    
    # Check if any player IDs are associated with multiple names
    name_check = """
    SELECT 
        player_id,
        COUNT(DISTINCT player_name) as name_count,
        STRING_AGG(DISTINCT player_name, ', ') as names
    FROM 
        players
    GROUP BY 
        player_id
    HAVING 
        COUNT(DISTINCT player_name) > 1
    ORDER BY 
        name_count DESC
    """
    
    name_issues = connection.execute(name_check).fetchdf()
    
    # Get detailed information about frequency of each name variant
    name_variants_detail = []
    
    for _, row in name_issues.iterrows():
        player_id = row['player_id']
        # Get occurrence count for each name variant
        variants_query = f"""
        SELECT 
            player_name,
            COUNT(*) as occurrence_count
        FROM 
            players
        WHERE 
            player_id = '{player_id}'
        GROUP BY 
            player_name
        ORDER BY 
            occurrence_count DESC
        """
        
        try:
            variants = connection.execute(variants_query).fetchdf()
            
            # Format the variants with counts
            variants_with_counts = []
            for _, v_row in variants.iterrows():
                variants_with_counts.append(f"{v_row['player_name']} ({v_row['occurrence_count']})")
            
            name_variants_detail.append({
                'player_id': player_id,
                'name_count': row['name_count'],
                'name_variants': variants_with_counts
            })
        except:
            # Handle potential issues
            name_variants_detail.append({
                'player_id': player_id,
                'name_count': row['name_count'],
                'name_variants': ['Error retrieving variants']
            })
    
    # Get overall statistics
    total_unique_players_query = """
    SELECT COUNT(DISTINCT player_name) FROM (
        SELECT DISTINCT batter as player_name FROM deliveries
        UNION
        SELECT DISTINCT bowler FROM deliveries
        UNION
        SELECT DISTINCT non_striker FROM deliveries
        UNION
        SELECT DISTINCT wicket_player_out FROM deliveries WHERE wicket_player_out IS NOT NULL
        UNION
        SELECT DISTINCT wicket_fielder FROM deliveries WHERE wicket_fielder IS NOT NULL
    )
    """
    
    total_unique_players = connection.execute(total_unique_players_query).fetchone()[0]
    
    total_players_with_ids_query = "SELECT COUNT(DISTINCT player_name) FROM players"
    total_players_with_ids = connection.execute(total_players_with_ids_query).fetchone()[0]
    
    # Calculate percentages
    missing_ids_pct = (len(missing_ids_detail) / total_unique_players) * 100 if total_unique_players > 0 else 0
    multiple_ids_pct = (len(multiple_ids_detail) / total_unique_players) * 100 if total_unique_players > 0 else 0
    
    return {
        'player_id_issues': player_id_issues,
        'player_name_issues': name_issues,
        'multiple_ids_detail': multiple_ids_detail,
        'missing_ids_detail': missing_ids_detail,
        'name_variants_detail': name_variants_detail,
        'stats': {
            'total_unique_players': total_unique_players,
            'total_players_with_ids': total_players_with_ids,
            'players_missing_ids': len(missing_ids_detail),
            'players_with_multiple_ids': len(multiple_ids_detail),
            'ids_with_multiple_names': len(name_issues),
            'missing_ids_pct': missing_ids_pct,
            'multiple_ids_pct': multiple_ids_pct
        }
    }

def print_player_consistency_report(player_consistency, max_rows=20):
    """Print a comprehensive report of player ID and name consistency issues"""
    from tabulate import tabulate
    
    stats = player_consistency['stats']
    
    print("\n=========== PLAYER ID CONSISTENCY REPORT ===========\n")
    
    print("Overall Statistics:")
    print(f"Total unique players in the database: {stats['total_unique_players']:,}")
    print(f"Players with IDs in the players table: {stats['total_players_with_ids']:,}")
    print(f"Players missing IDs: {stats['players_missing_ids']:,} ({stats['missing_ids_pct']:.2f}%)")
    print(f"Players with multiple IDs: {stats['players_with_multiple_ids']} ({stats['multiple_ids_pct']:.2f}%)")
    print(f"IDs associated with multiple names: {stats['ids_with_multiple_names']}")
    
    # Print players with multiple IDs
    print("\n=== Players with Multiple IDs ===\n")
    if player_consistency['multiple_ids_detail']:
        multiple_ids_data = []
        for item in player_consistency['multiple_ids_detail'][:max_rows]:
            multiple_ids_data.append([
                item['player_name'],
                item['id_count'],
                item['player_ids']
            ])
        
        print(tabulate(
            multiple_ids_data,
            headers=["Player Name", "ID Count", "Player IDs"],
            tablefmt="grid"
        ))
        
        if len(player_consistency['multiple_ids_detail']) > max_rows:
            print(f"\n... and {len(player_consistency['multiple_ids_detail']) - max_rows} more players with multiple IDs")
    else:
        print("No players with multiple IDs found.")
    
    # Print players with missing IDs
    print("\n=== Players with Missing IDs ===\n")
    if player_consistency['missing_ids_detail']:
        # Sort by matches played (descending) to show most significant missing IDs first
        missing_ids_sorted = sorted(
            player_consistency['missing_ids_detail'], 
            key=lambda x: x['matches_played'] if isinstance(x['matches_played'], int) else 0,
            reverse=True
        )
        
        missing_ids_data = []
        for item in missing_ids_sorted[:max_rows]:
            missing_ids_data.append([
                item['player_name'],
                item['matches_played']
            ])
        
        print(tabulate(
            missing_ids_data,
            headers=["Player Name", "Matches Played"],
            tablefmt="grid"
        ))
        
        if len(missing_ids_sorted) > max_rows:
            print(f"\n... and {len(missing_ids_sorted) - max_rows} more players with missing IDs")
    else:
        print("No players with missing IDs found.")
    
    # Print IDs with multiple name variants
    print("\n=== Player IDs Associated with Multiple Names ===\n")
    if player_consistency['name_variants_detail']:
        name_variants_data = []
        for item in player_consistency['name_variants_detail'][:max_rows]:
            name_variants_data.append([
                item['player_id'],
                item['name_count'],
                "\n".join(item['name_variants'][:5]) + 
                (f"\n... and {len(item['name_variants']) - 5} more variants" 
                 if len(item['name_variants']) > 5 else "")
            ])
        
        print(tabulate(
            name_variants_data,
            headers=["Player ID", "Name Variant Count", "Name Variants (occurrence count)"],
            tablefmt="grid"
        ))
        
        if len(player_consistency['name_variants_detail']) > max_rows:
            print(f"\n... and {len(player_consistency['name_variants_detail']) - max_rows} more IDs with multiple names")
    else:
        print("No player IDs with multiple names found.")
    
# Execute the enhanced player ID consistency check
player_consistency = check_player_id_consistency(conn)
print_player_consistency_report(player_consistency)

=========== PLAYER ID CONSISTENCY REPORT ===========

Overall Statistics:
Total unique players in the database: 11,410
Players with IDs in the players table: 12,811
Players missing IDs: 33 (0.29%)
Players with multiple IDs: 141 (1.24%)
IDs associated with multiple names: 0

=== Players with Multiple IDs ===

+-----------------+------------+----------------------------------------+
| Player Name     |   ID Count | Player IDs                             |
+=================+============+========================================+
| Gagandeep Singh |          4 | 239197f1, 4a370769, 87046e99, 890de8cb |
+-----------------+------------+----------------------------------------+
| Imran Khan      |          4 | 2b0f2af3, 2cc557f8, a0a32dd1, da3b91fd |
+-----------------+------------+----------------------------------------+
| Abdul Samad     |          3 | 21dbacff, 8e514b4c, 8e554b6b           |
+-----------------+------------+----------------------------------------+
| E Jones         |          3 | 4cf60e73, 971cb321, fbfea9c2           |
+-----------------+------------+----------------------------------------+
| Haider Ali      |          3 | 7d2856df, c13e34f4, dd572696           |
+-----------------+------------+----------------------------------------+
| J Anderson      |          3 | 33001741, 4dc6fd02, d5bbb6a2           |
+-----------------+------------+----------------------------------------+
| Jaskaran Singh  |          3 | 5efcabe2, d7b3a420, ec178b04           |
+-----------------+------------+----------------------------------------+
| Khurram Shahzad |          3 | 1daf3f74, 27c5715d, 85b0ccd1           |
+-----------------+------------+----------------------------------------+
| M Clarke        |          3 | 55ed4228, 7ea2141b, a4ff3629           |
+-----------------+------------+----------------------------------------+
| Mohammad Asif   |          3 | 53ad9c10, b7b6790a, e03b66ec           |
+-----------------+------------+----------------------------------------+
| Muhammad Usman  |          3 | 05b35689, 45642393, b7621723           |
+-----------------+------------+----------------------------------------+
| R Sharma        |          3 | 102bc1f4, 2278c4ca, 5d9a1a73           |
+-----------------+------------+----------------------------------------+
| Rahat Ali       |          3 | 3cc13c68, 458161f4, a63775d6           |
+-----------------+------------+----------------------------------------+
| Rashid Khan     |          3 | 3f811de0, 5f547c8b, 69cccff3           |
+-----------------+------------+----------------------------------------+
| A Chopra        |          2 | 57a7b064, e249fdaa                     |
+-----------------+------------+----------------------------------------+
| A Hartley       |          2 | 53d50717, e31c12c3                     |
+-----------------+------------+----------------------------------------+
| A Mishra        |          2 | 0942d272, 6b19d823                     |
+-----------------+------------+----------------------------------------+
| A Mohammed      |          2 | 89b3278d, a49985e6                     |
+-----------------+------------+----------------------------------------+
| A Patel         |          2 | 06a9d298, eaeaf575                     |
+-----------------+------------+----------------------------------------+
| A Sharma        |          2 | 5661ef90, a3ead8da                     |
+-----------------+------------+----------------------------------------+

... and 121 more players with multiple IDs

=== Players with Missing IDs ===

+--------------------+------------------+
| Player Name        |   Matches Played |
+====================+==================+
| L Winfield-Hill    |              141 |
+--------------------+------------------+
| Mohammad Nawaz     |              130 |
+--------------------+------------------+
| Mohammad Yousuf    |              107 |
+--------------------+------------------+
| NR Sciver-Brunt    |              106 |
+--------------------+------------------+
| CS Mugeri-Tiripano |               59 |
+--------------------+------------------+
| JE Duffin          |               53 |
+--------------------+------------------+
| KE Ebrahim         |               47 |
+--------------------+------------------+
| A Aitken-Drummond  |               24 |
+--------------------+------------------+
| KH Sciver-Brunt    |               13 |
+--------------------+------------------+
| RV Hawkins         |               10 |
+--------------------+------------------+
| Rameez Raja (2)    |                7 |
+--------------------+------------------+
| D van Deventer     |                6 |
+--------------------+------------------+
| Emma Jones         |                6 |
+--------------------+------------------+
| Abdul Shakoor (2)  |                4 |
+--------------------+------------------+
| J Cleetus          |                4 |
+--------------------+------------------+
| V NIkolova         |                3 |
+--------------------+------------------+
| Mohsin Khan (2)    |                2 |
+--------------------+------------------+
| Arshad Khan (2)    |                1 |
+--------------------+------------------+
| Imran Khan (2)     |                1 |
+--------------------+------------------+
| Jess Hazell        |                1 |
+--------------------+------------------+

... and 13 more players with missing IDs

=== Player IDs Associated with Multiple Names ===

No player IDs with multiple names found.

In [9]:
import chardet
from collections import defaultdict

def check_encoding_of_varchar_columns(connection, exclude_tables=None):
    """
    Check the encoding of all varchar columns across tables in a DuckDB database
    
    Args:
        connection: A DuckDB connection object
        exclude_tables: Optional list of tables to exclude
    
    Returns:
        A dictionary with encoding statistics for each table and column
    """
    if exclude_tables is None:
        exclude_tables = []
    
    # Get all tables in the database
    tables = connection.execute("SELECT name FROM sqlite_master WHERE type='table'").fetchall()
    table_names = [table[0] for table in tables if table[0] not in exclude_tables]
    
    results = defaultdict(lambda: defaultdict(lambda: defaultdict(int)))
    sample_sizes = {}
    
    for table in table_names:
        # Get column information for the table
        columns_info = connection.execute(f"PRAGMA table_info({table})").fetchall()
        varchar_columns = [col[1] for col in columns_info if 'varchar' in col[2].lower()]
        
        if not varchar_columns:
            continue
            
        print(f"Analyzing encoding for {len(varchar_columns)} varchar columns in table: {table}")
        
        # For each varchar column, check the encoding of values
        for column in varchar_columns:
            # Get a sample of non-null values from the column
            sample = connection.execute(
                f"SELECT {column} FROM {table} WHERE {column} IS NOT NULL LIMIT 1000"
            ).fetchall()
            sample = [row[0] for row in sample if row[0] is not None]
            
            if not sample:
                continue
                
            sample_sizes[(table, column)] = len(sample)
            
            # Check encoding for each value
            for value in sample:
                if not isinstance(value, str):
                    continue
                    
                # Use chardet to detect encoding
                result = chardet.detect(value.encode('utf-8', errors='ignore'))
                encoding = result['encoding']
                confidence = result['confidence']
                
                # Store results
                results[table][column][encoding] += 1
    
    # Format results
    formatted_results = {}
    for table in results:
        formatted_results[table] = {}
        for column in results[table]:
            total_samples = sample_sizes.get((table, column), 0)
            if total_samples > 0:
                encodings = {}
                for encoding, count in results[table][column].items():
                    encodings[encoding] = {
                        'count': count,
                        'percentage': round((count / total_samples) * 100, 2)
                    }
                formatted_results[table][column] = {
                    'sample_size': total_samples,
                    'encodings': encodings
                }
    
    return formatted_results

def print_encoding_report(results):
    """Print a formatted report of encoding results"""
    for table, columns in results.items():
        print(f"\n=== Table: {table} ===")
        for column, data in columns.items():
            print(f"\nColumn: {column} (Sample size: {data['sample_size']})")
            print("Encodings detected:")
            
            for encoding, stats in data['encodings'].items():
                print(f"  {encoding}: {stats['count']} values ({stats['percentage']}%)")
            
            # Highlight potential issues
            encodings = list(data['encodings'].keys())
            if len(encodings) > 1:
                print("⚠️ WARNING: Multiple encodings detected in this column")

def main():
    # Connect to your DuckDB database
    conn = duckdb.connect('cricket_analytics.db')  # Replace with your database file
    
    try:
        # Check encodings
        results = check_encoding_of_varchar_columns(conn)
        
        # Print report
        print("\n===== ENCODING ANALYSIS REPORT =====")
        print_encoding_report(results)
        
        # Summary
        tables_with_issues = sum(1 for table in results.values() 
                               for column in table.values() 
                               if len(column['encodings']) > 1)
        
        print("\n===== SUMMARY =====")
        print(f"Total tables analyzed: {len(results)}")
        print(f"Tables with potential encoding issues: {tables_with_issues}")
        
        if tables_with_issues > 0:
            print("\nRecommendations:")
            print("- Consider standardizing to UTF-8 for all text data")
            print("- Check for special characters in player names and venues")
            print("- Verify that data import processes handle encodings correctly")
        
    finally:
        conn.close()

if __name__ == "__main__":
    main()

Analyzing encoding for 16 varchar columns in table: deliveries
Analyzing encoding for 4 varchar columns in table: innings
Analyzing encoding for 16 varchar columns in table: matches
Analyzing encoding for 2 varchar columns in table: overs
Analyzing encoding for 2 varchar columns in table: players

===== ENCODING ANALYSIS REPORT =====

=== Table: deliveries ===

Column: delivery_id (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: over_id (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: innings_id (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: match_id (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: batter (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: batter_id (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: bowler (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: bowler_id (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: non_striker (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: non_striker_id (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: extras_type (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: wicket_player_out (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: wicket_player_out_id (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: wicket_kind (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: wicket_fielder (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: wicket_fielder_id (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

=== Table: innings ===

Column: innings_id (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: match_id (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: batting_team (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: bowling_team (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

=== Table: matches ===

Column: match_id (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: city (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: venue (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: match_type (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: gender (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: season (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: match_event_name (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: match_event_id (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: team1 (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: team2 (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: toss_winner (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: toss_decision (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: outcome_winner (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: outcome_method (Sample size: 832)
Encodings detected:
  ascii: 832 values (100.0%)

Column: player_of_match (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: player_of_match_id (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

=== Table: overs ===

Column: over_id (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: innings_id (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

=== Table: players ===

Column: player_id (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

Column: player_name (Sample size: 1000)
Encodings detected:
  ascii: 1000 values (100.0%)

===== SUMMARY =====
Total tables analyzed: 5
Tables with potential encoding issues: 0